@charset "utf-8";

.middle {
  height: auto;
  margin-top: 22px;
}
.middle .content {
  width: 1058px;
  margin: auto;
}
.middle .left {
  width: 550px;
  height: 534px;
  float: left;
  margin: 31px 100px 0 0;
  background: url(./images/regversion2016.png) -344px 0 no-repeat;
  position: relative;
  position: relative;
}
.middle .left .regBtn {
  float: right;
  margin: 350px 51px 0 0;
  width: 103px;
  height: 68px;
  background: url(./images/regversion2016.png) 0 -599px no-repeat;
}
.middle .right {
  font-family: "微软雅黑";
  height: auto;
  float: left;
  margin-top: 80px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}
.righttop {
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  color: #2f82ff;
  position: relative;
  top: 2px;
  z-index: 99;
  border-bottom: 1px solid #eef1f4;
}
.rightmid {
  margin-top: 20px;
}
.checkLoginTab {
  border-bottom: 2px solid #2f82ff;
  color: #1b2f4d;
}
.registerHref {
  width: 56px;
  height: 12px;
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0;
  letter-spacing: 0;
  color: #2074f1;
  text-decoration: none;
  margin-left: 97px;
  cursor: pointer;
}
.registerHref:hover {
  color: #5291f4;
}
.loginBtn {
  float: left;
  width: 273px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: #2075f6;
  margin-top: 5px;
  border-radius: 2px;
}
.loginBtn:hover {
  background: #3282fa
}
.log-line {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  height: 44px;
  width: 271px;
  border: 1px solid #fff;
}
.log-line .log-txt {
  color: #bac3d3;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
  text-align: left;
  line-height: 44px;
  font-size: 14px;
}
.log-line .log-txt-hover {
  color: #bac3d3;
}

.log-line .logIcoNew {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 21px;
  height: 21px;
  background: url(./images/login_icon.png) no-repeat;
}
.log-line .logIcoCacct {
  background-position: 1px 1px;
}
.log-line .logIcoSacct {
  background-position: -35px 0;
}
.log-line .logIcoPwd {
  background-position: -75px -1px;
}
.log-line-hover .logIcoCacct {
  background-position: 1px 1px;
}
.log-line-hover .logIcoSacct {
  background-position: -35px 0;
}
.log-line-hover .logIcoPwd {
  background-position: -75px -1px;
}
.log-line .logIcoMobile {
  background-position: -116px -1px;
}
.log-line .logIcoMobileCode {
  background-position: -75px -1px;
}
.log-line-hover .logIcoMobile {
  background-position: -116px -1px;
}
.log-line-hover .logIcoMobileCode {
  background-position: -75px -1px;
}
.log-line .log-input {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 209px;
  height: 38px;
  line-height: 38px;
  background: transparent;
  font-size: 14px;
  padding: 2px 10px 2px 50px;
  outline: 0;
  z-index: 10;
}
.log-line .input2 {
  border: 1px solid #dbe1ea;
  color: #1b2f4d;
}
.log-line-hover .log-input {
  border: 1px solid #2f82ff;
  color: #1b2f4d;
}
.login_otherAcct {
  width: 335px;
  height: 59px;
  line-height: 59px;
  background-color: #fafbfc;
  border: solid 1px #f4f6f7;
  color: #6c7b96;
  font-family: "微软雅黑";
}
.loginBody {
  padding: 42px 32px 23px 32px;
  width: 273px;
  background: #fff;
}
.pwdLoginPanel {
  margin-bottom: 9px;
}
.login_other {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 35px;
}

.pwdLoginTab {
  width: 72px;
  height: 31px;
  font-family: "微软雅黑";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 15px;
  letter-spacing: 0;
  color: #afbcd3;
  text-align: center;
  float: left;
  cursor: pointer;
  margin-top: 11px
}

.worn {
  display: none;
  font-size: 12px;
  color: #e63333;
  width: 237px;
  height: 25px;
  line-height: 25px;
  text-align: left;
  padding-left: 34px;
  margin-bottom: 5px;
  border: solid 1px #fdd3d3;
  background: url(./images/login_icon.png) -104px -50px no-repeat #feefef
}