@charset "utf-8";

::-webkit-input-placeholder {
  color: #ddd
}

:-moz-placeholder {
  color: #ddd
}

::-moz-placeholder {
  color: #ddd
}

:-ms-input-placeholder {
  color: #ddd
}

.u-input {
  position: relative;
  width: 100%
}

.u-input>* {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box
}

.u-input label {
  width: 32%;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  color: #738299;
  padding-right: 16px;
  margin-bottom: 4px
}

.u-input .msg {
  width: 32%;
  padding-left: 8px;
  display: inline-block;
  margin-bottom: 4px;
  color: #292929
}

.u-input .msg>* {
  display: inline-block;
  vertical-align: middle
}

.u-input .msg i {
  width: 16px;
  height: 16px;
  background: url(./images/icons.png) -175px -56px no-repeat
}

.u-input .msg font {
  padding-left: 4px;
  max-width: 230px;
  overflow: hidden;
  word-break: break-all
}

.u-input .msg font.z-noWrap {
  text-overflow: ellipsis;
  white-space: nowrap
}

.u-input .msg.z-err {
  color: #fa5b5b
}

.u-input .msg.z-err i {
  background-position: -175px 1px
}

.u-input .msg a {
  color: #0075ff
}

.u-input .inputWrapper {
  width: 36%;
  position: relative
}

.u-input .inputWrapper>* {
  box-sizing: border-box
}

.u-input input[type="text"],
.u-input input[type="password"] {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  padding-left: 10px
}

.u-input input[type="text"].short,
.u-input input[type="password"].short {
  width: 62%
}

.u-input .vis {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  background: url(./images/icons.png) -85px -67px no-repeat;
  background-color: #fff;
  cursor: pointer
}

.u-input .vis.z-on {
  background-position: -85px -102px
}

.u-input .button {
  text-align: center;
  width: 102px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #a7cfff;
  background-color: #fff;
  color: #4e9fff;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -14px
}

.u-input .button:hover {
  border-color: #4f9fff;
  background-color: #4f9fff;
  color: #fff
}

.u-input .button[disabled] {
  border-color: #dcdcdc;
  color: #ccc;
  cursor: default;
  background: 0
}

.u-bigBtn {
  width: 100%;
  height: 54px;
  line-height: 54px;
  background-color: #0075ff;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  outline: 0;
  border: 0;
  cursor: pointer
}

.u-bigBtn:hover {
  background-color: #268aff
}

.u-bigBtn[disabled] {
  background-color: #e8eaed;
  cursor: default
}

.u-resendNotice {
  margin: 8px 0 0 32%;
  color: #738299
}

.u-resendNotice a {
  color: #0075ff
}

.m-regForm {
  width: 830px;
  margin: 0 auto;
  display: block;
  flex-direction: column;
  justify-content: center;
  margin-top: 56px;
}

.m-regForm .footer {
  font-family: '微软雅黑', '黑体', '新宋体', 'Arial Unicode MS';
  color: #667790;
  text-align: center;
  margin-top: 30px;
  position: absolute;
  width: 100%;
  bottom: -40px
}

.m-regForm .u-borderTop {
  margin-bottom: 50px
}

.m-regForm .regBox {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 9px 0 rgba(92, 128, 255, 0.17);
  padding-bottom: 40px;
  position: relative;
  line-height: normal;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  top: 5px
}

.m-regForm .regBox .content {
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.m-regForm .regBox .line_userMsg {
  width: 100%;
  height: 65px;
  margin: 0 auto;
  text-align: center
}

.m-regForm .regBox .line_userMsg .user_name {
  display: inline-block;
  font-size: 16px;
  color: #373737;
  height: 63px;
  line-height: 63px;
  vertical-align: middle;
  margin-left: 13px
}

.m-regForm .regBox .header_title {
  display: inline-block;
  font-size: 14px;
  color: #738299;
  height: 40px;
  line-height: 40px;
  vertical-align: middle
}

.m-regForm .regService {
  color: #738299;
  margin: 20px 0 0 32%
}

.m-regForm .regService a {
  color: #738299;
  text-decoration: none
}

.m-regForm .regService .u-checkBox {
  vertical-align: top;
  margin-top: 1px
}

.m-regForm .u-input {
  margin-top: 45px
}

.m-regForm .u-input:first-child {
  margin-top: 0
}

.m-regForm .bottomBar {
  width: 100%;
  margin: 0 auto;
  margin-top: 26px;
  position: relative;
  text-align: center
}

.m-regForm .bottomBar .u-bigBtn {
  width: 36%
}

.m-regForm .bottomBar .msg {
  color: #fa5b5b;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%
}

.m-regForm .toLogin {
  color: #667790;
  font-size: 14px;
  text-align: center;
  margin-top: 16px
}

.m-regForm .toLogin a {
  color: #0075ff;
  display: inline-block;
  height: 17px;
  border-bottom: 1px solid #0075ff;
  text-decoration: none
}

.m-regForm .toLogin a:hover {
  color: #268aff
}
.m-mobiVerify {
  margin-top: 20px;
}

.picbox {
  position: relative;
}

.pic {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 40px;
  background-size: 100% 100%;
  display: inline-block;
}

.textLine {
  width: 495px;
  height: 82px;
  line-height: 66px;
  font-family: 微软雅黑;
  font-size: 14px;
  color: #c2c9d2;
  margin: 0 auto;
  position: relative;
  left: 26px
}

.textLine .number {
  font-size: 20px;
  color: #afb6c0
}

.textLine .sep {
  width: 1px;
  height: 15px;
  display: inline-block;
  background: #d5deee;
  margin-left: 8px;
  margin-right: 10px
}

.textLine span {
  display: inline-block;
  text-indent: 2px;
  vertical-align: middle
}

.textLine .font12 {
  font-size: 12px;
  vertical-align: top;
  margin-left: 2px
}