@charset "utf-8";

.container {
  padding: 15px 28px 100px 28px;
}


.faiTableWrap .center table.faiTable tbody tr td .tdWrap>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myActContainTitle {
  position: relative;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  padding-left: 16px;
  border-bottom: solid 1px #e7e7e7;
  min-width: 1000px;
  box-sizing: border-box;
}

.myActContainTitle>div {
  padding-left: 15px;
  box-sizing: border-box;
}

.tableContent {
  background: #fff;
  border: solid 1px #e7e7e7;
  margin-bottom: 28px
}

.tableContent .qrcodeIcon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background-image: url(../images/iconall.png);
  background-repeat: no-repeat;
  background-position: -884px -91px;
  margin-right: 14px;
  margin-left: 10px
}

.tableContent .qrcodeBox {
  border: 1px solid #ccc;
  width: 160px;
  position: absolute;
  left: 28px;
  margin-top: -251px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
}

.tableContent .qrcodeBox img {
  width: 144px;
  height: 144px;
  display: block;
  padding: 8px
}

.tableContent .qrcodeBox .inIcon.down {
  left: 22px;
  position: absolute;
  bottom: -12px;
  border-top: solid 6px #329fea;
  border-bottom: solid 6px transparent;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent
}

.tableContent .qrcodeBox .inIcon.up {
  left: 22px;
  position: absolute;
  top: -6px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #ccc;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  width: 8px;
  height: 8px;
  background: #fff
}

.tableContent .qrcodeBox .weixinerweima {
  text-align: center;
  color: #fff;
  height: 44px;
  line-height: 44px;
  background: #329fea
}

.tableContent .transition {
  animation: fadeIn .4s ease 1;
  -moz-animation: fadeIn .4s ease 1;
  -webkit-animation: fadeIn .4s ease 1;
  -o-animation: fadeIn .4s ease 1
}

.tableContent .imgBox {
  width: 80px;
  height: 45px;
  background: #e6e6e6;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 3px 0
}

.tableContent .textBox {
  display: inline-block;
  margin-left: 8px;
  margin-top: 1px;
  vertical-align: middle;
  width: 105px;
  white-space: pre-wrap;
  text-align: left;
  max-height: 48px;
  overflow: hidden
}

.faiTable tbody tr td {
  height: 35px
}
.container .faiTableWrap .column1 {
  box-sizing: border-box;
  padding-left: 98px;
  width: 255px
}

.container .faiTableWrap .column3 {
  min-width: 150px
}

.container .faiTableWrap .column7 {
  width: 250px
}

.container .faiTableWrap .column9 {
  width: 110px
}
.center table.faiTable {
  table-layout: auto;
}

.container .showActiveTable .faiTableWrap .column1{
  box-sizing: border-box;
  padding-left: 98px;
  width: 255px
}

.container .showActiveTable .faiTableWrap .column3 {
  min-width: 150px
}

.container .showActiveTable .faiTableWrap .column7 {
  width: 250px
}

.container .showActiveTable .faiTableWrap .column9 {
  width: 110px
}

.container .showActiveTable .faiTableWrap .active_activeName {
  min-width: 247px
}

.faiTableWrap .center table.faiTable {
  table-layout: auto;
}

.container .showActiveTable .faiTableWrap .active_activeName .textBox:hover {
  color: #329fea;
  text-decoration: underline;
  cursor: pointer
}

.container .showActiveTable .innerNewStyle:hover {
  color: #329fea;
  text-decoration: underline;
  cursor: pointer
}

.container .showActiveTable .innerNewStyle {
  margin-top: -16px;
  cursor: pointer
}

.faiTableWrap .center table.faiTable .hongbaoLessNumPrice .lessHBMoneyTips {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  background: url(../images/iconall.png) no-repeat -333px -696px
}

.faiTableWrap .center table.faiTable .hongbaoLessNumPrice .lessHBMoneyTips:hover {
  background-position: -377px -696px
}

.faiTableWrap .textRight a {
  color: #74b7e6;
  padding: 0 8px;
  display: inline-block
}

.faiTableWrap .textRight a:hover {
  color: #329fea;
  text-decoration: underline
}

.faiTableWrap .textRight a .icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../images/iconall.png) no-repeat -318px -780px
}

.faiTableWrap .textRight a.moreMenuBtn:hover .icon,
.faiTableWrap .textRight a.moreMenuBtn.checked .icon {
  background-position: -349px -780px
}

.faiTableWrap .textRight .moreMenuBtn {
  position: relative;
  cursor: pointer
}

.faiTableWrap .textRight .moreOptionBox {
  width: 108px;
  background: #fff;
  position: absolute;
  padding: 8px 0;
  text-align: center;
  border: solid 1px #e7e7e7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 10
}

.faiTableWrap .textRight .moreOptionBox a {
  display: block;
  height: 28px;
  line-height: 28px;
  color: #787878
}

.faiTableWrap .textRight .moreOptionBox a:hover {
  background-color: #f5f5f5
}

.faiTableWrap .textRight .moreOptionBox .tipsBoxArrow {
  top: -5px;
  left: 60%
}

.faiTableWrap .textRight .moreOptionBox .tipsBoxArrow.tipsBoxArrowUp {
  bottom: -5px
}

.faiTableWrap .center table.faiTable th .autoCleanTimer .icon,
.faiTableWrap .center table.faiTable tbody tr td .statusDisabled {
  color: #fe896a
}

.faiTableWrap .center table.faiTable th .autoCleanTimer .icon,
.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .icon {
  background-position: -53px -224px
}

.faiTableWrap .center table.faiTable th .hongbaoLessNumPrice .icon {
  background-position: -332px -695px
}

.faiTableWrap .center table.faiTable th .hongbaoLessNumPrice .icon.tipsHover {
  background-position: -376px -695px
}

.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .icon.fixIcon {
  width: 16px;
  margin-left: 5px;
  background-position: -56px -224px
}

.faiTableWrap .center table.faiTable th .autoCleanTimer .icon.tipsHover,
.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .icon.tipsHover {
  background-position: -93px -224px
}

.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .pinGroupIcon.tipsHover {
  background-position: -96px -224px
}

.tipsHover {
  cursor: pointer
}

.faiTableWrap .center table.faiTable thead tr th.textRight {
  text-align: center
}

.faiTableWrap {
  border: 0
}