@charset "utf-8";

.cav_container {
  margin: 28px
}

.cav_container input[type='text'] {
  border-color: #e4e4e4;
  padding-left: 10px;
  outline: 0
}

#cav_title {
  margin: 22px 0 0 29px;
  font-size: 12px
}

.cav_tabBox {
  height: 56px;
  border-bottom: solid 1px #e7e7e7;
  line-height: 56px;
  position: relative
}

.cav_tabBox .cav_tab {
  font-size: 16px;
  cursor: pointer;
  float: left;
  padding: 0 16px;
  position: relative
}

.cav_tabBox .cav_tab.checked {
  color: #329fea
}

.cav_tabBox .cav_tab.checked:after {
  height: 4px;
  background: #329fea;
  content: '';
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute
}

.cav_container .searchBox,
.cav_container .searchBox {
  position: relative
}

.cav_container #searchMode,
.cav_container #searchMode {
  border: 1px solid transparent;
  border-right-color: #e4e4e4;
  width: 100px;
  color: #333;
  outline: 0;
  position: absolute;
  left: 0;
  top: 0
}

.cav_container #searchMode.select,
.cav_container #searchMode.select {
  border: 1px solid #e4e4e4
}

.cav_container #searchModeIcon {
  width: 9px;
  height: 5px;
  position: absolute;
  left: 81px;
  top: 17px;
  background-image: url(../images/aicon.png);
  background-repeat: no-repeat;
  background-position: 0 -35px
}

.cav_container .select #searchModeIcon {
  background-position: 0 0
}

.cav_container #searchMode .mode {
  height: 40px;
  width: 88px;
  padding-left: 12px;
  background: #fff;
  line-height: 40px;
  cursor: pointer
}

.cav_container #searchMode .mode.option {
  display: none
}

.cav_container #searchMode .mode.option:hover {
  background: #f4f4f4
}

.cav_container #searchMode.select .mode.option {
  display: block
}

.cav_container #searchMode.select .val {
  border-bottom: 1px solid #e4e4e4
}

.cav_container .cav_c_web .searchInput {
  width: 400px;
  height: 40px;
  padding: 0 50px 0 110px
}

.cav_container .searchIcon {
  position: absolute;
  top: 1px;
  left: 520px;
  width: 20px;
  height: 18px;
  padding: 11px 10px;
  border-left: 1px solid #e4e4e4;
  background-image: url(../images/bg02.png);
  background-repeat: no-repeat;
  background-position: -1151px -261px;
  background-clip: content-box;
  cursor: pointer
}

.cav_container .searchTips {
  margin-top: 28px
}

.cav_container .tipsImg {
  width: 320px;
  height: 280px;
  background: url(../images/cav_pchx.jpg) 100% 100% no-repeat;
  float: left
}

.cav_container .tipsItem {
  float: left;
  margin: 14px 0 0 29px
}

.cav_container .hx {
  width: 35px;
  height: 35px;
  background: 100% 100% no-repeat
}

.cav_container .hx1 {
  background-image: url(../images/cav_hx1.png)
}

.cav_container .hx2 {
  background-image: url(../images/cav_hx2.png)
}

.cav_container .hx3 {
  background-image: url(../images/cav_hx3.png)
}

.cav_container .line {
  width: 2px;
  height: 80px;
  background: url(../images/cav_line.jpg) repeat;
  margin-left: 16.5px
}

.cav_container .tipsText {
  float: left;
  margin: 14px 0 0 10px
}

.cav_container .tipsText {
  float: left;
  margin: 19px 0 0 10px
}

.cav_container .tipsText div {
  margin-bottom: 78px
}

.cav_container .tipsText p {
  font-size: 12px;
  line-height: 12px;
  color: #999
}

.cav_container .cavTips {
  margin: 14px 0 0 370px;
  color: #999
}

.cav_container .tipsText .title {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333
}

.cav_container .searchResult {
  display: none;
  max-width: 910px;
  margin-top: 28px
}

.cav_container .faiTableWrap .center table.faiTable thead tr {
  height: 56px
}

.cav_container .faiTableWrap .center table.faiTable thead tr th {
  font-size: 14px;
  height: 56px
}

.cav_container .faiTableWrap .center table.faiTable tbody tr:last-child td {
  border-bottom: 0
}

.cav_container .faiTableWrap .center table.faiTable thead tr th.col-width-140 {
  width: 165px
}

.cav_container .faiTableWrap .center table.faiTable thead tr th.col-width-180 {
  width: 175px
}

.cav_container .faiTableWrap .center table.faiTable tbody tr td.awardUser {
  max-width: 100px
}

.cav_container .faiTableWrap .center table.faiTable tbody tr.odd {
  background: #fff;
}
.cav_container .faiTableWrap .center table.faiTable tbody tr.odd:hover {
  background: #f5f5f5;
}
.cav_container .faiTableWrap .center table.faiTable {
  border-collapse: collapse
}

.cav_container .searchTable .column {
  width: 106px
}

.cav_container .searchTable .column1 {
  width: 90px
}

.cav_container .searchTable .column2 {
  width: 140px
}

.cav_container .searchTable .column3 {
  width: 130px
}

.cav_container .searchTable .column4 {
  width: 80px
}

.cav_container .searchTable .column5 {
  width: 60px
}

.faiTableWrap .center table.faiTable tbody tr .noPad .padding {
  padding: 0 !important
}

.faiTableWrap .center table.faiTable tbody tr {
  overflow: hidden
}

.cav_container .cavBtn {
  width: 120px;
  height: 30px;
  border-radius: 2px;
  background: #368ee0;
  border: 1px solid #3079ed;
  margin: 20px 0 0 360px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer
}

.cav_container .cavBtn.disabled {
  background-color: #f4f5f7;
  color: #888;
  border: 1px solid #e4e4e4;
  display: block
}

.cav_container #recordCutLine {
  width: 1110px;
  border-bottom: 1px #f1f1f1 solid;
  margin: 0 0 30px -10px
}

.cav_container .recordBar {
  position: relative;
  text-align: right;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cav_container .recordBar .recordsearchBox {
  position: relative;
  width: 195px;
  display: inline-block
}

.cav_container .recordBar .recordsearchBox .recordInput {
  width: 180px;
  height: 30px
}

.cav_container .recordBar .recordLine {
  height: 32px;
  margin-bottom: 10px
}

.cav_container .recordBar .recordLine .recordInput {
  width: 130px;
  height: 30px;
  padding: 0 40px 0 10px;
  float: right;
  clear: right;
  margin-right: 0
}

.cav_container .recordBar .recordIcon {
  position: absolute;
  top: 1px;
  right: 8px;
  width: 20px;
  height: 18px;
  padding: 6px 5px;
  border-left: 1px solid #e4e4e4;
  background-image: url(../images/bg02.png);
  background-repeat: no-repeat;
  background-position: -1156px -266px;
  background-clip: content-box;
  cursor: pointer
}

.cav_container .recordBar .filter,
.cav_container .recordBar .filterHb,
.cav_container .recordBar input,
.cav_container .recordBar .exportBtn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 32px;
  margin-top: 12px;
  padding: 0 12px;
  color: #787878;
  cursor: pointer
}

.cav_container .recordBar .filter:hover,
.cav_container .recordBar .filter.checked {
  color: #329fea
}

.cav_container .recordBar .recordBtn.checked {
  color: #787878
}

.cav_container .recordBar .startTime,
.cav_container .recordBar .endTime {
  width: 96px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 8px;
  text-align: left;
  line-height: 32px;
  margin: 12px 4px 0;
  height: 32px
}

.cav_container .startTime,
.cav_container .endTime {
  width: 107px;
  height: 28px;
  cursor: pointer
}

.recordBtn,
.cav_container .recordBar .exportBtn {
  height: 30px;
  line-height: 30px !important;
  text-align: center;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  margin-left: 8px
}

.recordBtn:hover,
.cav_container .recordBar .exportBtn:hover,
.cav_container .recordBar .exportBtn.checked {
  background: #329fea;
  color: #fff !important;
  border-color: #329fea
}

.recordBtn .icon {
  width: 24px;
  height: 24px;
  background-position: -554px -907px
}

.cav_container .recordBar .exportBtn .icon {
  width: 24px;
  height: 24px;
  background-position: -657px -907px
}

.recordBtn:hover .icon {
  background-position: -606px -907px
}

.cav_container .recordBar .exportBtn {
  margin-right: 16px
}

.cav_container .recordBar .exportBtn:hover .icon,
.cav_container .recordBar .exportBtn.checked .icon {
  background-position: -704px -907px
}

.cav_container .recordTable {
  border-top: solid 1px #e7e7e7
}

.cav_container .recordTable .column1 {
  width: 150px
}

.cav_container .recordTable .column2,
.cav_container .recordTable .column3,
.cav_container .recordTable .column5 {
  width: 90px
}

.cav_container .recordTable .column9 {
  width: 140px
}

.cav_container .recordTable .column3 {
  width: 110px
}

.faiTableWrap .center table.faiTable {
  table-layout: auto
}

.selectBox {
  width: 130px;
  height: 30px;
  border: 1px solid #e4e4e4;
  padding-left: 10px
}

.selectBox option {
  padding-left: 10px
}

.searchGameId {
  width: 106px;
  height: 30px;
  margin-left: 20px;
}

.hb_description {
  padding: 0 16px 20px
}

.hb_description p {
  font-size: 12px;
  color: #989898
}

.hbStatus {
  position: relative
}

.hbStatusHint,
.giftStatusHint,
.hbWxTips {
  background-position: -53px -224px;
  cursor: pointer
}

.hbStatusHint.tipsHover,
.giftStatusHint.tipsHover,
.hbWxTips.tipsHover {
  background-position: -93px -224px
}

#hb_hint_box {
  position: absolute;
  top: 216px;
  left: 737px;
  width: 260px;
  padding: 10px 8px;
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  background: #fff
}

#hb_hint_box .tri {
  position: absolute;
  top: -7px;
  right: 12px;
  width: 16px;
  height: 7px;
  background: url(../images/icon-sj.png) no-repeat
}

#hb_hint_box p {
  font-size: 12px;
  color: #666;
  line-height: 2
}

#refreshHbStatus,
#refreshgiftStatus {
  background-position: -432px -988px;
  cursor: pointer
}

#refreshHbStatus:hover {
  background-position: -476px -988px
}

#balanceAccountTable .faiTableWrap .redColor {
  color: #f00
}

#balanceAccountTable .faiTableWrap .greenColor {
  color: #008000
}

#myInfoListTitle {
  font-size: 16px;
  line-height: 16px;
  padding: 12px 0 20px 15px;
  color: #949494
}

#myInfoListTitle .icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: solid 1px #585858;
  border-left: solid 1px #585858;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  margin-top: -3px;
  vertical-align: middle;
  margin-right: 4px
}

#myInfoListTitle a {
  text-decoration: underline;
  color: #585858;
  display: inline-block;
  margin-right: 8px
}

#myInfoListTitle .name {
  display: inline-block;
  margin-left: 8px
}

.faiTableWrap {
  border: 0
}

.faiTableWrap .bottom {
  border-top: solid 1px #e7e7e7
}

.cav_container .recordBar .searchBoxCont {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-top: 12px;
  width: 136px
}

.cav_container .recordBar .searchBoxCont input {
  width: 130px;
  margin-top: 0;
  cursor: auto;
  text-align: left;
  margin-right: 0
}

.cav_c_hbRecord .recordBar .searchBoxCont input {
  width: 180px !important
}

.faiTableWrap .center table.faiTable tbody tr td.pad16 .tdWrap {
  padding-left: 16px
}

.cav_gotoCavBtn {
  position: absolute;
  height: 36px;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0 12px
}

.cav_gotoCavBtn .icon {
  background-position: -315px -987px;
  width: 22px
}

.faiTableWrap .userPlayer {
  white-space: pre-wrap;
  height: 100%;
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
  width: 54px;
  padding-left: 10px
}

.faiTableWrap .playerName {
  display: inline-block;
  max-width: 105px;
  vertical-align: middle;
  max-height: 44px;
  overflow: hidden
}

.faiTableWrap .center table.faiTable tbody tr td.reason .ellipsis {
  white-space: pre-wrap
}

.cav_container .hostSetting {
  text-align: left;
  height: auto
}

.cav_container .saveHostSettingBtn {
  width: 104px;
  height: 35px;
  background-color: #329fea;
  text-align: center;
  line-height: 35px;
  color: #fff;
  float: right;
  margin: 11px 20px 0 0;
  cursor: pointer
}

.cav_container .saveHostSettingBtn:hover {
  background-color: #1184d4
}

.cav_container .saveHostSettingBtn.canNotSave {
  background: #b1b1b1
}

.cav_container .canNotClickUploadBtn {
  cursor: Default;
  background: #b1b1b1
}

#host_Photo_UploadBtn.photoIsLimit {
  cursor: Default;
  cursor: pointer;
  background: #329fea
}

.cav_container .saveHostSettingBtn .icon {
  background-position: -215px -621px !important;
  width: 22px !important
}

.cav_container .cav_hostIntroduce .hostName {
  width: 440px;
  padding: 0 8px;
  display: inline-block;
  margin: 0 5px 0 16px;
  height: 44px;
  border: 1px solid #e7e7e7;
  font-family: '微软雅黑';
  text-align: left;
  cursor: auto
}

.cav_container .cav_hostIntroduce .siteUrlInput {
  width: 440px;
  padding: 0 8px;
  display: inline-block;
  margin: 0 5px 8px 90px;
  height: 44px;
  border: 1px solid #e7e7e7;
  font-family: '微软雅黑';
  text-align: left;
  cursor: auto
}

.cav_container .cav_hostIntroduce .jumpTypeTips {
  color: #999;
  margin-left: 91px
}

.cav_container .recordBar .hostContain {
  padding: 26px
}

.cav_container .recordBar .hostContain .settingItem .flag {
  margin-left: -8px;
  width: 8px
}

.cav_container .cav_hostIntroduce input {
  display: none
}

.cav_container .cav_hostIntroduce label {
  margin-left: 19px
}

.cav_container .cav_hostIntroduce .settingItem {
  margin: 14px 0 0;
  line-height: 44px
}

.cav_container .cav_hostIntroduce .editContain {
  margin-top: 17px
}

.cav_container .cav_hostIntroduce .editContain .wxTitle {
  margin: 30px auto 0;
  width: 320px;
  height: 64px;
  background: url(../images/wxtitle.png) no-repeat;
  background-size: 100%;
  position: relative
}

.cav_container .cav_hostIntroduce .editContain .phone {
  width: 348px;
  height: 650px;
  vertical-align: top;
  display: inline-block;
  border-radius: 5px;
  background: url(../images/phone.png) no-repeat;
  background-size: 100%;
  position: relative
}

.cav_container .cav_hostIntroduce .editContain .phone .tmpIframe {
  width: 320px;
  height: 504px;
  margin: 0 auto
}

.cav_container .cav_hostIntroduce .editContain .inputGroup {
  height: 44px;
  line-height: 44px;
  margin-bottom: 10px
}

.cav_container .cav_hostIntroduce .editContain .btnBox {
  height: 44px;
  line-height: 44px;
  margin-bottom: 10px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit {
  width: 612px;
  height: auto;
  background-color: #f5f5f5;
  display: inline-block;
  margin-left: 12px;
  padding: 0 12px 16px;
  border: 1px solid #e7e7e7
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .itemBox {
  float: left;
  width: 618px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .imgGroup {
  margin: 17px 0 10px 10px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .imgGroup .delectIcon {
  width: 17px;
  height: 17px;
  position: absolute;
  background: url(../images/delecthostimg.png) no-repeat;
  margin: -22px 0 0 41px
}

.cav_container .cav_hostIntroduce .editContain .ieDelectIcon {
  margin: -8px 0 0 79px !important
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .imgGroup .moveUp {
  position: absolute;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
  font-size: 12px;
  margin: 14px 0 0 -25px
}

.cav_container .cav_hostIntroduce .editContain .ieMoveUp {
  margin: -23px 0 0 0 !important
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .imgGroup .moveDown {
  position: absolute;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
  font-size: 12px;
  margin: 14px 0 0 24px
}

.cav_container .cav_hostIntroduce .editContain .ieMoveDown {
  margin: -23px 0 0 50px !important
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .comUploadImg img {
  max-width: 80px;
  max-height: 80px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .editHostLogo {
  margin: 0 0 17px 99px;
  padding: 5px;
  width: 470px;
  background-color: #fff;
  border: 1px solid #e7e7e7
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .editHostImg {
  margin-left: 89px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .editHostImg .comUploadTipsBox {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  font-size: 14px;
  color: #979a9f;
  line-height: 16px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .editHostImg .sizeStyle {
  color: #64cea6;
  margin-right: 16px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .imgTemp {
  width: 85px;
  height: 48px;
  margin: 0 11px 10px 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  float: left;
  display: -webkit-flex;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  border: 1px solid #dadada;
  background-color: #e8e8e8
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .imgTemp img {
  max-height: 48px;
  max-width: 86px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .leftTitle {
  display: inline-block;
  width: 75px;
  text-align: right
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .editHostButton {
  margin-bottom: 20px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .introduceBox {
  vertical-align: 138px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .hostBtnUrlBox {
  margin: 10px 0 0
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .hostBtnTitle {
  display: inline-block;
  width: 169px;
  text-align: right
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit textarea {
  width: 468px;
  height: 145px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  padding: 5px;
  margin-left: 20px
}

.cav_container .cav_hostIntroduce .editContain .tmpEdit .comUploadImg {
  background-color: #eee;
  border: 1px solid #dadada
}

.cav_container .cav_hostIntroduce .editContain .hostBtnName {
  width: 377px;
  padding: 0 8px;
  display: inline-block;
  margin: 0 5px 0 16px;
  height: 44px;
  border: 1px solid #e7e7e7;
  font-family: '微软雅黑';
  text-align: left;
  cursor: auto
}

.cav_container .cav_hostIntroduce .editContain .hostBtnUrl {
  width: 377px;
  padding: 0 8px;
  display: inline-block;
  margin: 0 5px 0 16px;
  height: 44px;
  border: 1px solid #e7e7e7;
  font-family: '微软雅黑';
  text-align: left;
  cursor: auto
}

.cav_container .cav_hostIntroduce .editContain .hostIntroduceItem .inputGroup {
  margin-bottom: 0 !important
}

.cav_container .cav_hostIntroduce .icon {
  display: inline-block;
  width: 18px;
  height: 19px;
  background: url(../images/iconall4.png) -336px -696px no-repeat;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 2px
}

.cav_container .cav_hostIntroduce .icon:hover {
  background: url(../images/iconall4.png) -380px -696px no-repeat
}

.cav_container .cav_hostIntroduce .hostNameContain .icon {
  display: inline-block;
  width: 18px;
  height: 23px;
  background: url(../images/iconall4.png) -56px -224px no-repeat;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 2px
}

.cav_container .cav_hostIntroduce .hostNameContain .icon:hover {
  background: url(../images/iconall4.png) -96px -224px no-repeat
}
.main-whiteBox {
  background-color: #fff;
  border: solid 1px #e7e7e7;
}

.dropDownBox_main {
  position: relative;
  text-align: left;
  padding-left: 8px;
  line-height: 30px;
  cursor: pointer;
  border: solid 1px #e7e7e7;
}

.dropDownBox_main .dropDownArrow {
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: -722px -622px;
  width: 16px;
  height: 10px;
}