@charset "utf-8";

.overflow-hidden {
  overflow: hidden
}

#poup_previewCanal {
  line-height: 14px
}

#poup_previewCanal.loadFinish {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

#poup_previewCanal .poupTitle {
  color: #585858;
  background: #fff;
  box-sizing: border-box;
  width: 170px;
  height: auto;
  position: static;
  border-bottom: 0;
  padding-left: 0;
  border-right: 1px solid #dadada
}

#poup_previewCanal .poupTitle .tabContent {
  font-weight: normal;
  margin: 30px 0 0
}

#poup_previewCanal .poupTitle .tabContent .icon {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: -4px;
  margin-right: 10px
}

#poup_previewCanal .poupTitle .tabContent .icon.icon-preview {
  background-position: -10px -10px
}

#poup_previewCanal .poupTitle .tabContent .icon.icon-poster {
  background-position: -10px -50px
}

#poup_previewCanal .poupTitle .tabContent .icon.icon-generallize {
  background-position: -90px -10px
}

#poup_previewCanal .poupTitle .tabContent .check .icon.icon-preview {
  background-position: -50px -10px
}

#poup_previewCanal .poupTitle .tabContent .check .icon.icon-poster {
  background-position: -50px -50px
}

#poup_previewCanal .poupTitle .tabContent .check .icon.icon-generallize {
  background-position: -90px -50px
}

#poup_previewCanal .poupTitle .tabContent .tab-item {
  display: block;
  cursor: pointer;
  color: #535353
}

#poup_previewCanal .poupTitle .tabContent .tab-item.check {
  color: #329fea
}

#poup_previewCanal .poupTitle .tabContent .tab-item:hover {
  background-color: #f7f7f7
}

#poup_previewCanal .poupTitle .tabContent .tab {
  line-height: 44px;
  padding-left: 28px;
  font-size: 16px
}

#poup_previewCanal .poupTitle .tabContent .tab+.tab {
  margin-top: 10px
}

#poup_previewCanal .poupTitle .tabContent .tab.dropdown {
  cursor: default;
  background: transparent
}

#poup_previewCanal .poupTitle .tabContent .tab.dropdown .subTab {
  font-size: 14px;
  line-height: 36px;
  padding-left: 58px;
  margin-left: -28px
}

#poup_previewCanal .poupContent {
  padding: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 0
}

#poup_previewCanal .closeBtn {
  z-index: 10;
  top: 12px;
  right: 12px;
  background-position: -350px -906px
}

#poup_previewCanal .closeBtn:hover {
  background-position: -306px -906px !important
}

.version3 #poup_previewCanal .closeBtn:hover {
  background-position: -316px -151px !important
}

#poup_previewCanal .canalBox {
  padding: 40px 17px 0
}

#poup_previewCanal .canalBox .canalTable {
  height: 560px
}

#poup_previewCanal .canalBox .nowrap {
  white-space: nowrap
}

#poup_previewCanal .canalBox .canalForm .barBtn {
  border: 1px solid #e7e7e7;
  width: 88px;
  text-align: center;
  margin: 12px 8px;
  float: right;
  cursor: pointer;
  line-height: 30px
}

#poup_previewCanal .canalBox .canalForm .barBtn:hover {
  background: #329fea;
  color: #fff;
  border: 1px solid #329fea
}

#poup_previewCanal .canalBox .canalForm .barBtn.span {
  cursor: pointer;
  font-family: '微软雅黑';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #787878
}

#poup_previewCanal .canalBox .copyButton_canal {
  width: 60px;
  height: 30px;
  line-height: 30px;
  display: inline;
  position: absolute;
  border-radius: 0
}

#poup_previewCanal .canalBox .canalText {
  margin: 20px 14px;
  width: 228px;
  height: 30px;
  border: 1px solid #797979;
  background: inherit;
  box-sizing: border-box
}

#poup_previewCanal .canalBox .canalInput {
  width: 227px;
  height: 30px;
  margin-left: 16px;
  margin-top: 23px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #e7e7e7;
  outline: 0;
  padding-left: 8px;
  display: inline-block
}

#poup_previewCanal .canalBox .addConfirm {
  margin-top: 12px;
  text-align: center
}

#poup_previewCanal .canalBox .addConfirm span.cancleAddBtn,
#poup_previewCanal .canalBox .addConfirm span.confirmAddBtn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  display: inline-block
}

#poup_previewCanal .canalBox .addConfirm span.confirmAddBtn {
  margin-left: 17px
}

#poup_previewCanal .canalBox .faiTableWrap .padding {
  font-size: 13px;
  color: #333;
  font-weight: normal
}

#poup_previewCanal .canalBox .faiTableWrap .center table.faiTable thead tr {
  background-color: #e0edf6
}

#poup_previewCanal .canalBox .faiTableWrap .center table.faiTable tbody tr.even {
  background-color: #f3f9fe
}

#poup_previewCanal .canalBox .faiTableWrap .center table.faiTable tbody tr {
  height: 44px;
  border: 0
}

#poup_previewCanal .canalBox .faiTableWrap .center table.faiTable tbody tr td {
  height: 44px;
  border: 0
}

#poup_previewCanal .canalBox .linkSite {
  width: 140px;
  font-size: 12px
}

.version3 #poup_previewCanal .canalBox input[type="text"] {
  height: 28px;
  border-radius: 0
}

#poup_previewCanal .canalBox .exportCanal:hover .exportIcon {
  width: 25px;
  height: 17px;
  background: url(../images/iconall.png) no-repeat -707px -910px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px
}

#poup_previewCanal .canalBox .canalTable .operation,
#poup_previewCanal .canalBox .canalTable .operation div.tdWrap {
  overflow: visible
}

#poup_previewCanal .canalBox .canalTable div.optStyle {
  text-align: center
}

#poup_previewCanal .canalBox .canalTable div.optStyle .showHoverTips {
  position: relative;
  z-index: 5;
  padding: 5px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle
}

#poup_previewCanal .canalBox .canalTable div.optStyle .showHoverTips:hover::before,
#poup_previewCanal .canalBox .canalTable div.optStyle .showHoverTips:hover::after {
  display: block
}

#poup_previewCanal .canalBox .canalTable div.optStyle .showHoverTips::before,
#poup_previewCanal .canalBox .canalTable div.optStyle .showHoverTips::after {
  position: absolute;
  z-index: 8;
  bottom: 100%;
  left: 50%;
  display: none
}

#poup_previewCanal .canalBox .canalTable div.optStyle .showHoverTips::before {
  content: " ";
  width: 8px;
  height: 5px;
  padding: 0 5px 5px;
  margin-left: -9px;
  margin-bottom: -5px
}

#poup_previewCanal .canalBox .canalTable div.optStyle .showHoverTips::after {
  content: attr(hover-tips);
  white-space: nowrap;
  border-radius: 4px;
  background: #313131;
  background: rgba(52, 52, 52, 0.9);
  font-size: 12px;
  line-height: 12px;
  padding: 6px;
  margin-bottom: 5px;
  transform: translate(-50%, 0);
  cursor: auto;
  color: #fff
}

#poup_previewCanal .canalBox .canalTable div.optStyle .icon {
  display: block;
  width: 18px;
  height: 16px;
  cursor: pointer
}

#poup_previewCanal .canalBox .canalTable div.optStyle .icon.icon-image {
  background-position: -10px -47px
}

#poup_previewCanal .canalBox .canalTable div.optStyle .icon.icon-qrCode {
  background-position: -10px -83px
}

#poup_previewCanal .canalBox .canalTable div.optStyle .icon.icon-edit {
  background-position: -84px -10px
}

#poup_previewCanal .canalBox .canalTable div.optStyle .icon.icon-remove {
  background-position: -84px -46px
}

#poup_previewCanal .canalBox .inputErrMsg {
  height: 20px;
  margin-left: 16px
}

#poup_previewCanal .canalBox .titleTab {
  display: inline;
  width: 120px;
  margin: 2px 35px
}

#poup_previewCanal .canalBox .addCanalName {
  top: 54px;
  left: 402px;
  height: 109px;
  width: 256px;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  position: absolute;
  display: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 10
}

#poup_previewCanal .canalBox .addCanalName .pointerIcon {
  width: 13px;
  height: 9px;
  display: inline-block;
  margin-left: 201px;
  margin-top: -8px;
  position: absolute
}

#poup_previewCanal .canalBox .faiTableWrap {
  min-width: 10px;
  color: #787878;
  margin: 0;
  background-color: #fff;
  border: 0
}

#poup_previewCanal .canalBox .exportIcon {
  width: 25px;
  height: 17px;
  background: url(../images/iconall.png) no-repeat -659px -910px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px
}

#poup_previewCanal .previewBox {
  line-height: 14px
}

#poup_previewCanal .previewBox .phoneBox {
  padding: 60px 39px;
  background: #e7e7e7
}

.version3 #poup_previewCanal .previewBox .phoneBox {
  padding-bottom: 68px
}

#poup_previewCanal .previewBox .phoneBox .phone {
  width: 256px;
  height: 464px;
  padding: 8px;
  background: #fff;
  position: relative
}

.version3 #poup_previewCanal .previewBox .phoneBox .phone {
  padding-bottom: 0
}

#poup_previewCanal .previewBox .phoneBox .phone .wxTitle {
  width: 100%;
  height: 51.2px
}

.version3 #poup_previewCanal .previewBox .phoneBox .phone .wxTitle {
  height: 43.7px
}

#poup_previewCanal .previewBox .phoneBox .phone .wxTitle .actName {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  width: 168px;
  position: absolute;
  left: 52px;
  bottom: 7px;
  padding: 2.4px 0
}

#poup_previewCanal .previewBox .phoneBox .phone iframe {
  width: 320px;
  height: 514px;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  position: relative
}

.version3 #poup_previewCanal .previewBox .phoneBox .phone iframe {
  width: 375px;
  height: 603px;
  transform: scale(0.683);
  -webkit-transform: scale(0.683)
}

#poup_previewCanal .previewBox .phoneBox .phoneMask {
  background-color: rgba(0, 0, 0, 0)
}

#poup_previewCanal .previewBox .phoneBox:hover .phoneMask {
  background-color: rgba(0, 0, 0, 0.4)
}

#poup_previewCanal .previewBox .phoneBox .phoneQrcodeBox {
  width: 160px;
  height: 190px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  display: none;
  z-index: 500
}

#poup_previewCanal .previewBox .phoneBox:hover .phoneQrcodeBox {
  display: block;
  z-index: 1000
}

#poup_previewCanal .previewBox .phoneBox .phoneQrcodeBox .phoneQrcode {
  padding: 8px 8px 0
}

#poup_previewCanal .previewBox .phoneBox .phoneQrcodeBox .text {
  line-height: 38px;
  text-align: center;
  color: #949494
}

#poup_previewCanal .previewBox .contentBox {
  margin: 60px 0 0 -130px
}

#poup_previewCanal .previewBox .contentBox .item {
  line-height: 24px;
  margin-bottom: 2px
}

#poup_previewCanal .previewBox .contentBox .title {
  width: 142px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  vertical-align: top
}

#poup_previewCanal .previewBox .contentBox .content {
  display: inline-block
}

#poup_previewCanal .previewBox .contentBox .linkSiteBox {
  width: 250px
}

#poup_previewCanal .previewBox .contentBox .linkSiteBox .linkSite {
  width: 139px;
  margin-left: 48px;
  color: #787878;
  background-color: #fff;
  height: 36px;
  border: solid 1px #ccc
}

#poup_previewCanal .previewBox .contentBox .linkPicBox {
  margin-top: 20px;
  margin-left: 200px;
  width: 235px
}

#poup_previewCanal .previewBox .contentBox .linkPicBox .downCode {
  width: 100%;
  color: #74b7e6;
  margin-left: 28px;
  cursor: pointer;
  text-decoration: underline
}

#poup_previewCanal .previewBox .contentBox .button-group {
  position: absolute;
  right: 0;
  left: 328px;
  bottom: 0;
  height: 56px;
  line-height: 56px;
  padding: 0 14px 0 0;
  border-top: 1px solid #e7e7e7;
  text-align: right
}

#poup_previewCanal .previewBox .contentBox .button-group .button {
  display: inline-block;
  width: 108px;
  height: 34px;
  line-height: 34px;
  margin-left: 10px;
  color: #329fea;
  background: #fff;
  border: 1px solid #329fea;
  font-size: 14px;
  text-align: center
}

#poup_previewCanal .previewBox .contentBox .button-group .button-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 20px;
  height: 20px
}

#poup_previewCanal .previewBox .contentBox .button-group .button-publish .button-icon {
  background-position: -591px -1211px
}

#poup_previewCanal .previewBox .contentBox .button-group .button-edit .button-icon {
  background-position: -630px -1210px
}

#poup_previewCanal .previewBox .contentBox .button-group .button:hover {
  color: #1184d3
}

#poup_previewCanal .previewBox .contentBox .button-group .button.active {
  background: #329fea;
  color: #fff
}

#poup_previewCanal .previewBox .contentBox .button-group .button.active:hover {
  color: #fff;
  background: #1184d3
}

#poup_previewCanal .previewBox .linkSiteBox .copyButton {
  width: 70px;
  height: 34px;
  line-height: 34px;
  position: absolute;
  right: 0;
  top: 0;
  color: #74b7e6;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: content-box;
  border-radius: 0;
  text-align: center
}

#poup_previewCanal .previewBox .linkSiteBox .copyButton:hover {
  background: #329fea;
  border-color: #329fea;
  color: #fff
}

#poup_previewCanal .previewBox .linkPicBox .linkPic {
  height: 235px;
  margin-top: -22px;
  width: 202px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  padding: 16px
}

#poup_previewCanal .previewBox .wxScan .scan {
  font-size: 14px;
  color: #787878
}

#poup_previewCanal .previewBox .wxScan {
  margin-top: 16px
}

#poup_previewCanal .previewBox .linkPicBox .linkPic img {
  width: 170px;
  height: 170px;
  display: block
}

#poup_previewCanal .previewBox .publish .icon {
  background-position: -183px -694px
}

#poup_previewCanal .previewBox .cancleBtn .icon {
  background-position: -233px -695px
}

#poup_previewCanal .previewBox .poupBottom {
  text-align: right;
  padding-right: 14px
}

#poup_previewCanal .previewBox .poupBottom .poupBtn {
  margin: 12px 6px
}

#poup_previewCanal .previewBox .attentionTip .tip {
  font-family: '微软雅黑';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-left: 48px;
  color: #949494;
  margin-top: 11px
}

#poup_previewCanal .previewBox .attentionTip .tip a {
  color: #74b7e6;
  font-family: '微软雅黑';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-left: 28px
}

#poup_previewCanal .previewBox .attentionTip .tip a:hover {
  color: #329fea;
  text-decoration: underline
}

#poup_previewCanal .previewBox .warn .warnIcon {
  width: 25px;
  height: 17px;
  background: url(../images/iconall.png) no-repeat -95px -225px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: -26px
}

#poup_previewCanal .previewBox .phoneBox .pointerIcon {
  width: 25px;
  height: 17px;
  background: url(../images/iconall.png) no-repeat -656px -845px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -418px;
  margin-left: 290px;
  position: absolute
}

#poup_previewCanal .previewBox .attentionTip .warn {
  font-family: '微软雅黑';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-left: 48px;
  color: #787878;
  color: #fe896a;
  margin-top: 11px
}

#poup_previewCanal .posterBox .posterContent .editorPreviewWrapper {
  padding: 15px;
  background: #e9e9e9;
  position: relative;
  overflow: auto
}

#poup_previewCanal .posterBox .posterContent .editorPreviewWrapper .editorPreview {
  position: relative;
  z-index: 10;
  width: 320px;
  height: 570px;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat
}

#poup_previewCanal .posterBox .posterContent .editorPreviewWrapper .editorPreview .editTarget-textEditBar {
  cursor: pointer;
  font-family: "SourceHanSansCN-Normal", "微软雅黑";
  height: auto !important;
  word-break: break-all;
  font-size: 12px;
  line-height: 1.5;
  display: block;
  position: absolute
}

#poup_previewCanal .posterBox .posterContent .editorPreviewWrapper .editorPreview .editTarget-textEditBar .editTarget-editText-content,
#poup_previewCanal .posterBox .posterContent .editorPreviewWrapper .editorPreview .editTarget-textEditBar .editTarget-editText-textarea {
  line-height: 1.5;
  font-size: 12px;
  word-break: break-all;
  font-family: "SourceHanSansCN-Normal", "微软雅黑";
  padding: 0 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: none !important;
  display: block;
  width: 100%;
  white-space: pre-wrap
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 0
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller {
  padding: 0 26px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 0
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .controllerTitle {
  font-size: 14px;
  color: #000;
  line-height: 18px;
  padding-left: 6px;
  border-left: 3px solid #329fea;
  font-weight: normal
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .controllerTitle .icon-question {
  margin-left: 10px;
  display: inline-block;
  background: url("../images/iconall.png") no-repeat -336px -698px;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  cursor: pointer
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .controllerTitle .icon-question:hover {
  background-position: -380px -698px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .controllerContent span {
  display: inline-block;
  vertical-align: middle;
  user-select: none
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper {
  margin-top: 90px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .controllerContent {
  margin-top: 16px;
  position: relative;
  z-index: 2;
  user-select: none
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .controllerContent span+span {
  margin-left: 15px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .background {
  width: 78px;
  height: 78px;
  background: #f6f6f6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .uploadBtn {
  width: 94px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #329fea;
  cursor: pointer;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  position: relative;
  z-index: 0;
  overflow: hidden
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .upload-progress {
  position: absolute;
  z-index: 1;
  left: 78px;
  bottom: 15px;
  margin: 0
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .uploadBtn:hover {
  background: #1184d3
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .uploadBtn .icon-plus {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 4px;
  vertical-align: -1px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editBackgroundWrapper .recoveryBtn.is-hide {
  display: none
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper {
  margin-top: 70px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper .controllerContent {
  margin-top: 26px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper .addTextBtn {
  font-size: 14px;
  color: #329fea;
  cursor: pointer
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper .addTextBtn:hover {
  color: #1b8fdf
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper .addTextBtn .icon-plus-circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: -3px;
  margin-right: 4px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper .addTextBtn:hover .icon-plus-circle {
  background-position: -10px -10px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper .controllerContent span+span {
  margin-left: 30px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .controller .editTextWrapper .controllerContent label {
  margin: 0
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .downloadWrapper {
  background: #f9f9f9;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  height: 192px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .downloadWrapper .button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .downloadWrapper .button:hover {
  background-position: -274px -10px
}

#poup_previewCanal .posterBox .posterContent .controllerWrapper .downloadWrapper .description {
  font-size: 12px;
  color: #898989;
  line-height: 20px;
  width: 300px;
  text-align: center;
  margin-top: 15px
}

#poup_previewCanal .posterBox .freeVerContent {
  background: #f9f9f9;
  overflow: auto;
  height: 600px
}

#poup_previewCanal .posterBox .freeVerContent .freeVerContentPic,
#poup_previewCanal .posterBox .freeVerContent .freeVerContentDesc,
#poup_previewCanal .posterBox .freeVerContent .freeVerContentBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

#poup_previewCanal .posterBox .freeVerContent .freeVerContentPic {
  margin: 50px auto 30px
}

#poup_previewCanal .posterBox .freeVerContent .freeVerContentDesc {
  width: 580px;
  font-size: 14px;
  color: #535353;
  line-height: 24px
}

#poup_previewCanal .posterBox .freeVerContent .freeVerContentBtn {
  width: 244px;
  height: 64px;
  line-height: 58px;
  font-size: 16px;
  color: #fff;
  margin-top: 6px;
  cursor: pointer;
}

#poup_previewCanal .posterBox .freeVerContent .freeVerContentBtn:hover {
  background-position: -10px -94px
}