@charset "utf-8";
.hdManageLeft {
   width: 144px;
   height: 100%;
   float: left;
   background-color: #329fea;
   overflow: hidden;
   position: relative;
 }

 .hdManageLeft .leftUtil {
   position: relative;
   height: 56px;
   width: 100%;
   cursor: pointer;
   line-height: 56px;
   text-align: center;
   color: #ceebff;
 }

 .hdManageLeft .leftUtil:hover,
 .hdManageLeft .leftUtil.hoverChecked {
   background: #1184d3;
   color: #fff;
 }

 .hdManageLeft .leftUtil.hoverChecked .iconHolder {
   background-position: -85px -355px;
 }

 .hdManageLeft .leftUtil .iconHolder {
   display: inline-block;
   vertical-align: middle;
   position: relative;
   width: 22px;
   height: 22px;
   background: url("../images/iconall3.png") no-repeat -49px -355px;
   margin-top: -2px;
 }

 .hdManageLeft .leftUtil.checked:after {
   content: "";
   display: block;
   position: absolute;
   right: 0;
   top: 22px;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-left: 7px solid transparent;
   border-right: 7px solid #f5f5f5;
 }

 .hdManageLeft .leftUtil.hoverChecked .iconActList {
   background-position: -175px -355px;
 }

 .hdManageLeft .leftUtil.hoverChecked .iconHexiao {
   background-position: -256px -355px;
 }

 .hdManageLeft .leftUtil .iconActList {
   background-position: -131px -355px;
 }

 .hdManageLeft .leftUtil .iconHexiao {
   background-position: -220px -355px;
 }

 .hdManageLeft .leftUtil .icon {
   display: inline-block;
   width: 20px;
   height: 20px;
   vertical-align: middle;
 }

 .hdManageLeft .leftUtil .leftUtildescr {
   display: inline-block;
 }

 .hdManageLeft .leftUtil.checked .leftUtildescr {
   border-color: transparent;
 }

.shoTheActBar {
  position: absolute;
  top: 68px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.leftUtildescr {
  font-size: 14px;
}

.hd-shoTheActBar {
  display: flex;
}

.manageFrame {
  height: 100%;
  position: absolute;
  left: 144px;
  right: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 1400px;
  overflow-y: hidden;
  overflow-x: auto;
  position: fixed;
  flex: 1;
  width: auto;
}