#hdManageTop {
  position: relative;
  width: 100%;
  top: 0;
  height: 67px;
  line-height: 68px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  left: 0;
  z-index: 10;
}
#hdManageTop .mangeTopLeftPart {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  clear: both;
}
#hdManageTop .mangeTopLeftPart .hd_fkw_logoParent {
  float: left;
  height: 100%;
  overflow: hidden;
}
#hdManageTop .mangeTopLeftPart #hd_fkw_logoBox .hd_logo_style1 {
  margin: 3px 0 0 12px;
  width: 160px;
  height: 60px;
}
#hdManageTop .mangeTopLeftPart #hd_fkw_logoBox .hd_logo_style2 {
  margin: 3px 0 0 12px;
}
#hdManageTop .mangeTopLeftPart #hd_fkw_logoBox .hd_logo_style3 {
  margin: 6px 0 0 12px;
  width: 368px;
  height: 55px;
}
#hdManageTop .mangeTopLeftPart #hd_fkw_logoBox .hd_logo_style4 {
  width: 138px;
  height: 36px;
  margin: 17px 10px 0 30px;
}
#hdManageTop .mangeTopLeftPart .fkwProduct {
  float: left;
}
#hdManageTop .mangeTopLeftPart .fkwProduct a {
  display: inline-block;
  width: 104px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 12px;
  text-align: center;
}
#hdManageTop .mangeTopLeftPart .fkwProduct a:hover {
  border-color: #999;
}
#hdManageTop .mangeTopLeftPart .swichStroreBar {
  float: left;
}
#hdManageTop .mangeTopLeftPart .swichStroreBar .switchStoreBox {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 13px;
  padding-left: 14px;
}
#hdManageTop .mangeTopLeftPart .swichStroreBar .switchStoreBox span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  max-width: 196px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #b1b1b1;
}
#hdManageTop .mangeTopLeftPart .swichStroreBar .switchStoreBox a {
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  color: #74b7e6;
  border-left: solid 1px #e7e7e7;
}
#hdManageTop .mangeTopLeftPart .swichStroreBar .switchStoreBox a:hover {
  text-decoration: underline;
}
#hdManageTop .manageInfoBox {
  position: absolute;
  text-align: center;
  height: 100%;
  top: 0;
  right: 20px;
}
#hdManageTop .manageInfoBox .manageInfo.manageInfoMin {
  width: 120px;
  height: 69px;
  position: relative;
}
#hdManageTop .topBarIcon {
  width: 36px;
  height: 36px;
  background: url(../images/iconall.png) -95px -84px no-repeat;
  position: relative;
  margin: 16px auto;
  z-index: 10;
  cursor: pointer;
}
#hdManageTop .topBarIcon2 {
  width: 50px;
  height: 71px;
  background: url(../images/iconall2.png) -839px -1132px no-repeat;
  position: relative;
  margin: -94px auto;
  z-index: 10;
  cursor: pointer;
}
#hdManageTop .moreBarIcon {
  width: 63px;
  height: 47px;
  background: url(../images/header_morebar_icon.png) center 8px no-repeat;
  position: relative;
  margin: 14px auto;
  z-index: 10;
  cursor: pointer;
}
#hdManageTop .myInfoIcon {
  width: 63px;
  height: 47px;
  background: url(../images/header_myinfo_icon.png) center 8px no-repeat;
  position: relative;
  margin: 13px auto;
  z-index: 10;
  cursor: pointer;
}
#hdManageTop .manageInfo {
  float: left;
  box-sizing: border-box;
  height: 67px;
  color: #333;
  width: 96px;
  line-height: 68px;
  position: relative;
  z-index: 15;
}
#hdManageTop .manageInfoBox .manageInfoOem_1 {
  width: 112px;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
}
#hdManageTop .manageInfoBox .manageInfoOem_1 > .headerRedDot {
  top: 14px;
  right: 8px;
}
#hdManageTop .manageInfoBox .manageInfoOem_1 .topBarServeBox {
  width: 100%;
  margin: auto;
  margin-top: 16px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  text-align: center;
  color: #333;
}
#hdManageTop .manageInfoBox .manageInfoOem_1 .topBarServeBox .topBarServe {
  width: 108px;
  height: 50px;
  line-height: 36px;
  position: relative;
  z-index: 10;
  background: #fff;
}
#hdManageTop
  .manageInfoBox
  .manageInfoOem_1
  .topBarServeBox
  .topBarServe
  .topBarServeIcon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../images/iconall.png) no-repeat -39px -95px;
  margin-left: 3px;
}
#hdManageTop
  .manageInfoBox
  .manageInfoOem_1.hoverChecked
  .topBarServeBox
  .topBarServe
  .topBarServeIcon {
  background-position: -63px -95px;
}
#hdManageTop .manageInfoBox .manageInfoOem_1 .topBarServeMenuBox {
  border: solid 1px #e7e7e7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 110px;
  border-top: 0;
  left: -1px;
  position: absolute;
  top: 65px;
  z-index: 2;
  display: none;
}
#hdManageTop .manageInfoBox .manageInfoOem_1 .topBarServeMenuBox a {
  color: #949494;
}
#hdManageTop
  .manageInfoBox
  .manageInfoOem_1
  .topBarServeMenuBox
  .oemExportCenterBtn
  .topBarServeContent {
  width: 100%;
  height: 36px;
  line-height: 36px;
}
#hdManageTop
  .manageInfoBox
  .manageInfoOem_1
  .topBarServeMenuBox
  a
  .topBarServeContent {
  width: 100%;
  height: 36px;
  line-height: 36px;
}
#hdManageTop .manageInfoBox .manageInfoOem_1 .topBarServeMenuBox a:hover {
  background-color: #f8f8f8;
  color: #329fea;
}
#hdManageTop .topBarContent_new {
  position: absolute;
  right: -1px;
  width: 298px !important;
  top: 68px;
  height: auto;
  display: none;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 0;
  border-top: 0;
}
#hdManageTop .topBarContent {
  position: absolute;
  right: -1px;
  width: 368px;
  top: 68px;
  height: auto;
  display: none;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 0;
  border-top: 0;
}
#hdManageTop .manageInfoBox .coupLister {
  width: 66px;
}
#hdManageTop .manageInfoBox .manageInfo.manageInfoMin.topBarBulletin {
  width: 66px;
}
#hdManageTop .manageInfoBox .topBarBulletin .topBarIcon1 {
  width: 58px;
  height: 47px;
  background: url(../images/iconall2.png) -706px -1132px no-repeat;
  position: relative;
  margin: 14px auto;
  z-index: 10;
  cursor: pointer;
}
#hdManageTop .manageInfoBox .manageInfo.manageInfoMin.moreBarContentBox {
  width: 66px;
}
#hdManageTop .manageInfoBox .manageInfo.manageInfoMin.topBarMyInfo {
  width: 66px;
}
#hdManageTop
  .manageInfoBox
  .topBarBulletin
  .topBarBulletinContent
  #update
  .updateText {
  color: #585858;
}
#hdManageTop
  .manageInfoBox
  .topBarBulletin
  .topBarBulletinContent
  #update
  .updateText:hover {
  color: #74b7e6;
  text-decoration: none;
}
#hdManageTop .manageInfo:hover,
#hdManageTop .hoverChecked {
  border-left: solid 1px #e7e7e7;
  border-right: solid 1px #e7e7e7;
}
#hdManageTop .topBarBulletin:hover {
  height: 69px;
}
#hdManageTop .hoverShadow:hover {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#hdManageTop .manageInfo.hoverChecked {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  height: 70px;
}
#hdManageTop .manageInfo:hover:after,
#hdManageTop .hoverChecked:after {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  border-top: solid 4px #329fea;
}
#hdManageTop .manageInfo a,
#hdManageTop .manageInfoMin a {
  display: block;
  cursor: pointer;
}
#hdManageTop .newActiveSearchBox {
  float: left;
}
#hdManageTop .newActiveSearchBox .searchBoxCont {
  position: relative;
  height: 35px;
  width: 198px;
  margin-top: 17px;
  margin-right: 20px;
  z-index: 100;
  border-radius: 18px;
}
#hdManageTop .newActiveSearchBox .searchTipsBox {
  width: 272px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  top: 46px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  background: #fff;
}
#hdManageTop .newActiveSearchBox .searchTipsBox .seracBoxInner {
  padding: 8px 14px 16px;
  line-height: 25px;
}
#hdManageTop .newActiveSearchBox .searchTipsBox .seracBoxInner .clearFix {
  clear: both;
}
#hdManageTop .newActiveSearchBox .searchTipsBox .seracBoxInner .clearFix:after {
  content: "";
  display: block;
  clear: both;
}
#hdManageTop .newActiveSearchBox .searchTipsBox .seracBoxInner p .floatLeft {
  font-size: 14px;
  color: #535353;
}
#hdManageTop .newActiveSearchBox .searchTipsBox .seracBoxInner p .floatRight {
  font-size: 14px;
  color: #b2b2b2;
  text-decoration: underline;
  cursor: pointer;
}
#hdManageTop
  .newActiveSearchBox
  .searchTipsBox
  .seracBoxInner
  p
  .floatRight:hover {
  color: #898989;
}
#hdManageTop .newActiveSearchBox .searchTipsBox .seracBoxInner .hotKeyWordBox {
  margin-top: 4px;
}
#hdManageTop
  .newActiveSearchBox
  .searchTipsBox
  .seracBoxInner
  .hotKeyWordBox
  .keyWord {
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 14px;
  border: 1px solid #dcdcdc;
  padding: 2px 6px;
  color: #898989;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
#hdManageTop
  .newActiveSearchBox
  .searchTipsBox
  .seracBoxInner
  .hotKeyWordBox
  .keyWord:hover {
  background: #329fea;
  color: #fff;
  border: 1px solid #329fea;
}
#hdManageTop .manageWrap {
  float: left;
  width: 1px;
  height: 100%;
  background-image: url(../images/managewrap.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#hdManageTop .userInfoBox {
  float: right;
  margin-right: 22px;
  height: 100%;
}
#hdManageTop .userInfoBox .userInfo {
  height: 100%;
  padding: 0 10px;
  text-align: center;
}
#hdManageTop .userInfoBox .userName {
  display: inline-block;
  font-size: 12px;
}
#hdManageTop .topBarMyInfoContent {
  position: absolute;
  right: -1px;
  width: 208px;
  top: 68px;
  height: auto;
  display: none;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 0;
  border-top: 0;
  color: #535353;
  font-size: 14px;
  overflow: hidden;
}
#hdManageTop .topBarMyInfoContent .top {
  height: 46px;
  line-height: 46px;
  max-width: 168px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: solid 1px #e7e7e7;
  padding: 0 20px;
  text-align: left;
}
#hdManageTop .topBarMyInfoContent .middle {
  border-bottom: solid 1px #e7e7e7;
  padding: 13px 20px;
}
#hdManageTop .topBarMyInfoContent .middle .middleItem {
  height: 34px;
  line-height: 34px;
  text-align: left;
  cursor: pointer;
  background: 0;
}
#hdManageTop .topBarMyInfoContent .icon {
  vertical-align: middle;
}
#hdManageTop .topBarMyInfoContent .middle .middleItem .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
}
#hdManageTop .topBarMyInfoContent .middle .middleItem:hover {
  color: #329fea;
}
#hdManageTop .topBarMyInfoContent .middle .enterHost .icon {
  background: url("../images/header_icon_myinfo.png") no-repeat center
    transparent;
  background-position: 0 -2px;
}
#hdManageTop .topBarMyInfoContent .middle .enterHost:hover .icon {
  background-position: -24px -2px;
}
#hdManageTop .topBarMyInfoContent .middle .manageStaff .icon {
  background: url("../images/header_icon_myinfo.png") no-repeat center
    transparent;
  background-position: 0 -23px;
}
#hdManageTop .topBarMyInfoContent .middle .manageStaff:hover .icon {
  background-position: -24px -23px;
}
#hdManageTop .topBarMyInfoContent .bottom {
  height: 46px;
}
#hdManageTop .topBarMyInfoContent .bottom .leftB {
  display: inline-block;
  padding: 0 20px;
  height: 46px;
  line-height: 46px;
  width: 88px;
  border-right: solid 1px #e7e7e7;
  float: left;
  text-align: left;
  max-width: 88px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#hdManageTop .topBarMyInfoContent .bottom .rightB {
  display: inline-block;
  text-align: center;
  height: 46px;
  line-height: 46px;
  width: 79px;
  color: #898989;
  float: left;
  cursor: pointer;
}
#hdManageTop .topBarMyInfoContent .bottom .rightB .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 2px;
  background: url(../images/iconall.png) no-repeat -462px -92px;
}
#hdManageTop .topBarMyInfoContent .bottom .rightB:hover .icon {
  background: url(../images/iconall.png) no-repeat -502px -92px;
}
#hdManageTop .topBarMyInfoContent .bottom .rightB:hover {
  color: #329fea;
}
#hdManageTop .topBarVer {
  background-repeat: no-repeat;
  position: relative;
  z-index: 20;
}
#hdManageTop .topBarVerContent {
  box-sizing: border-box;
  padding: 8px;
  width: 292px;
  right: -1px;
  z-index: 12;
  text-align: left;
  line-height: 12px;
}
#hdManageTop .topBarVerContent:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  height: 3px;
  background: #fff;
  top: -3px;
}
#hdManageTop .topBarVerContent .verBg {
  width: 100%;
  height: 100px;
  position: relative;
  background: url("../images/verbg.jpg") no-repeat center transparent;
  color: #fff;
}
#hdManageTop .topBarVerContent .verBg .op_btn {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 64px;
  height: 32px;
  border-radius: 4px;
  line-height: 32px;
  color: #fff;
}
#hdManageTop .topBarVerContent .verBg .imgBtn {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 86px;
  height: 28px;
}
#hdManageTop .topBarVerContent .verIconImg {
  width: 60px;
  height: 60px;
  float: left;
  margin: 20px 8px 0 12px;
}
#hdManageTop .topBarVerContent .verTime {
  padding-top: 24px;
  margin-left: 80px;
}
#hdManageTop .topBarVerContent .ver_free {
  background: url("../images/verfree.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_by {
  background: url("../images/verby.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_biz {
  background: url("../images/verbj.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_zs {
  background: url("../images/verzs.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_md {
  background: url("../images/vermd.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_o_tri {
  background: url("../images/verfree.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_o_low {
  background: url("../images/verby.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_o_adv {
  background: url("../images/verbj.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .ver_o_hon {
  background: url("../images/verzs.png") no-repeat center !important;
}
#hdManageTop .topBarVerContent .title {
  height: 20px;
  line-height: 18px;
  background: #ff4e1f;
  width: 55px;
  margin-bottom: 14px;
  text-align: center;
}
#hdManageTop .topBarVerContent .overTime {
  font-size: 12px;
}
#hdManageTop .topBarVerContent .linkBtnRow {
  width: 100%;
  height: 32px;
  line-height: 20px;
}
#hdManageTop .topBarVerContent .linkBtnRow a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #585858;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
#hdManageTop .topBarVerContent .icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background: url("../images/iconall.png") no-repeat -302px -92px;
}
#hdManageTop .topBarVerContent a:hover {
  color: #329fea;
}
#hdManageTop .topBarVerContent .linkBtnRow a:hover .icon {
  background-position: -342px -92px;
}
#hdManageTop .topBarVerContent .linkBtnRow .detailLink:hover .icon {
  background-position: -420px -92px;
}
#hdManageTop .topBarVerContent .linkBtnRow .detailLink .icon {
  background: url("../images/iconall.png") no-repeat -380px -92px;
}
#hdManageTop .topBarVerContent .userInfo {
  padding: 11px 8px 4px 8px;
  border-top: 1px solid #e7e7e7;
  color: #585858;
  position: relative;
}
#hdManageTop .topBarVerContent > p > a {
  color: #247bff;
  text-decoration: underline;
}
#hdManageTop .topBarVerContent .userInfo a {
  position: absolute;
  right: 12px;
  top: 8px;
}
#hdManageTop .topBarVerContent .userInfo a .icon {
  background-position: -462px -92px;
}
#hdManageTop .topBarVerContent .userInfo a:hover .icon {
  background-position: -502px -92px;
}
#hdManageTop .coupIconBtn {
  width: 58px;
  height: 51px;
  background: url(../images/iconall7.png) -121px -1194px no-repeat;
  position: relative;
  margin: 13px auto;
  z-index: 10;
  cursor: pointer;
}
#hdManageTop .coupIconBtn .headerRedDot {
  right: 8px;
  top: 3px;
}
#hdManageTop .topBarBulletin .headerRedDot {
  right: 8px;
  top: 3px;
}
#hdManageTop .coupIconBtn .almostPassSevenDay {
  position: absolute;
  left: 13px;
  top: -7px;
  width: 86px;
  height: 18px;
  line-height: 18px;
  background: #fe896a;
  color: #fff;
  z-index: 1000;
  font-size: 11px;
  border-radius: 2px;
}
.coupLister .coupListBox {
  position: absolute;
  width: 260px;
  padding: 14px;
  right: 0;
  top: 68px;
  display: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.coupLister .coupListBox .faiCoupInfo {
  width: 260px;
  height: 65px;
  background: url(../images/coupon_bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-top: 14px;
}
.coupLister .coupListBox .faiCoupInfo:first-child {
  margin-top: 0;
}
.coupLister .coupListBox .notCoupInfo {
  background: url(../images/coupon_blank.png) no-repeat;
  background-size: 100% 100%;
}
.coupLister .coupListBox .seeMoreBtn {
  font-size: 14px;
  line-height: 28px;
  color: #b5b5b5;
  width: 100px;
  background: #f5f5f5;
  height: 28px;
  border-radius: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  cursor: pointer;
}
.coupLister .coupListBox .seeMoreBtn:hover {
  background: #329fea;
  color: #fff;
}
.coupLister .coupListBox .isGotoHide {
  display: none;
}
.faiCoupBoxer .faiCoupInfo .hd-almost-pass {
  position: absolute;
  padding: 4px;
  background: #fe886a;
  left: -4px;
  top: -4px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
  color: #fff;
}
.faiCoupBoxer .faiCoupInfo .getToKnowInfo {
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 65px;
  background: url(../images/coupon_bg_mask.png) no-repeat;
  background-size: 100% 100%;
  display: none;
  z-index: 99;
  text-align: center;
  transition: all 0.3s;
}
.faiCoupBoxer .faiCoupInfo.motival_1 .getToKnowInfo {
  overflow: hidden;
}
.faiCoupBoxer .faiCoupInfo.motival_1 .getToKnowInfo .motivateNotify {
  width: 150px;
  padding-top: 14px;
  padding-left: 14px;
  line-height: 18px;
  font-size: 14px;
  color: #fff;
  float: left;
  text-align: left;
}
#hdManageTop .faiCoupBoxer .faiCoupInfo.motival_1 .getToKnowInfo a {
  position: absolute;
  width: 64px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}
#hdManageTop .faiCoupBoxer .faiCoupInfo .getToKnowInfo a {
  display: inline-block;
  width: 100px;
  height: 28px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 28px;
  margin: 0 auto;
}
#hdManageTop .faiCoupBoxer .faiCoupInfo .getToKnowInfo a:hover {
  background: rgba(255, 255, 255, 0.3);
}
.coupLister .coupListBox .faiCoupInfo .hd-left-Info {
  width: 150px;
  padding: 0 14px;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.coupListBox .faiCoupInfo .hd-left-Info .coupNameInfo {
  font-size: 16px;
  color: #313131;
  width: 142px;
  margin-top: 15px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coupListBox .faiCoupInfo .hd-left-Info .hd-coup-time {
  font-size: 12px;
  color: #b5b5b5;
  line-height: 15px;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coupLister .coupListBox .faiCoupInfo .hd-right-Info {
  width: 80px;
  color: #329fea;
  font-weight: bold;
  text-align: center;
  height: 63px;
  line-height: 63px;
  overflow: hidden;
}
.faiCoupInfo .hd-right-Info .moneyDan {
  font-size: 16px;
}
.faiCoupInfo .hd-right-Info .moneyNum {
  font-size: 24px;
}
.faiCoupBoxer .notCoupInfo .notCoupShow {
  font-size: 14px;
  color: #b5b5b5;
  text-align: center;
}
.coupLister .coupListBox .notCoupInfo .lineDecore {
  display: inline-block;
  width: 14px;
  height: 0;
  border-bottom: 1px solid #b5b5b5;
  vertical-align: middle;
}
.coupLister .coupListBox .notCoupInfo .middle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
#hdManageTop .manageInfoBox .topBarVer .versionIcon {
  position: relative;
  margin: 16px 20px 6px 19px;
}
#hdManageTop .manageInfoBox .topBarVer .versionIcon.active {
  margin: 16px 19px 11px 18px;
}
#hdManageTop .manageInfoBox .topBarVer .versionIcon .almostPassVersion {
  position: absolute;
  left: 50%;
  top: -7px;
  width: 60px;
  height: 18px;
  line-height: 18px;
  background: #fe896a;
  color: #fff;
  z-index: 1000;
  font-size: 11px;
  border-radius: 2px;
}
.topBarBulletinContent .promImgBox {
  float: left;
  width: 280px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.topBarBulletinContent .promImgBoxInner {
  width: 855px;
  height: 100%;
  position: relative;
}
.topBarBulletinContent .promImgBoxInner a {
  float: left;
  width: 285px;
  height: 100px;
}
.topBarBulletinContent .promImgBoxInner a img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.topBarBulletinContent .menuDiv {
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  border-bottom: solid 1px #e7e7e7;
  padding: 10px 0;
}
.topBarBulletinContent .menuDiv-single {
  height: 20px;
  line-height: 32px;
}
.topBarBulletinContent .menuDiv .menu {
  width: 142px;
  cursor: pointer;
  display: inline-block;
}
.topBarBulletinContent .menuDiv #menuMessage .icon {
  background-position: -296px -56px;
}
.topBarBulletinContent .menuDiv #menuMessage.menu-check .icon,
.topBarBulletinContent .menuDiv #menuMessage:hover .icon {
  background-position: -324px -56px;
}
.topBarBulletinContent .menuDiv #menuUpdate .icon {
  background-position: -354px -56px;
}
.topBarBulletinContent .menuDiv #menuUpdate.menu-check .icon,
.topBarBulletinContent .menuDiv #menuUpdate:hover .icon {
  background-position: -382px -56px;
}
.topBarBulletinContent .menuDiv .menu-single {
  height: 25px;
}
.topBarBulletinContent .menuDiv #menuUpdate {
  position: relative;
}
.topBarBulletinContent .menuDiv #menuUpdate .redPoint {
  display: none;
  position: absolute;
  top: 10px;
  right: 35px;
  width: 7px;
  height: 7px;
  background: url(../images/bg02.png) -695px -33px no-repeat;
}
.topBarBulletinContent .menuDiv .line {
  float: left;
  border-left: 1px solid #e1e1e1;
  font-size: 0;
  height: 100%;
}
.topBarBulletinContent .menuDiv .menu-check,
.topBarBulletinContent .menuDiv .menu:hover {
  color: #74b7e6;
}
.topBarBulletinContent .listDiv {
  overflow: hidden;
}
.topBarBulletinContent #message {
  padding: 7px 0 7px 9px;
  float: left;
}
.topBarBulletinContent .listDiv .list,
.moreBarContentBox .listDiv .list {
  height: 25px;
  line-height: 30px;
  color: #585858;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.topBarBulletinContent .listDiv .list a,
.moreBarContentBox .listDiv .list a {
  color: #585858;
  text-decoration: none;
  margin: 0;
}
.topBarBulletinContent .listDiv .list a:hover,
.moreBarContentBox .listDiv .list a:hover {
  color: #74b7e6;
  text-decoration: underline;
}
.topBarBulletinContent .listDiv .list a .iconPoint,
.moreBarContentBox .listDiv .list a .iconPoint {
  width: 4px;
  height: 4px;
  display: inline-block;
  background: #b1b1b1;
  border-radius: 100%;
  vertical-align: middle;
  margin: -3px 8px 0 4px;
}
.topBarBulletinContent .listDiv .list a:hover .iconPoint,
.moreBarContentBox .listDiv .list a:hover .iconPoint {
  background: #74b7e6;
}
.topBarBulletinContent #leftAside .leftAsideTab,
.topBarBulletinContent #leftAside_new .leftAsideTab {
  line-height: 7px;
  padding: 12px 6px;
  cursor: pointer;
}
.topBarBulletinContent #leftAside .leftAsideTab a,
.topBarBulletinContent #leftAside_new .leftAsideTab a {
  display: inline-block;
  color: black;
}
.topBarBulletinContent #leftAside {
  float: left;
  width: 70px;
  background-color: #f5f5f5;
}
.topBarBulletinContent #leftAside .leftAsideTab:hover {
  background-color: #fff;
}
.topBarBulletinContent #leftAside .leftAsideTab:hover a {
  color: #329fea;
}
.topBarBulletinContent #leftAside_new {
  width: 280px;
  height: 40px;
  padding: 10px 10px 0 10px;
}
.topBarBulletinContent #leftAside_new .leftAsideTab.active {
  background-color: #329fea;
}
.topBarBulletinContent #leftAside_new .leftAsideTab.active a {
  color: white;
}
.topBarBulletinContent .listDiv .newsList {
  display: block;
  font-family: "微软雅黑";
  width: 280px;
  height: 100px;
  line-height: 100%;
}
.topBarBulletinContent .listDiv .newsList.vipExp-bj {
  background: url(../images/bg_expire_bj.png) 0 0 no-repeat;
}
.topBarBulletinContent .listDiv .newsList.vipExp-by {
  background: url(../images/bg_expire_by.png) 0 0 no-repeat;
}
.topBarBulletinContent .listDiv .newsList.couponUse {
  background: url(../images/bg_couponuse.jpg) 0 0 no-repeat;
  cursor: default;
}
.topBarBulletinContent .listDiv .newsList.couponExp {
  background: url(../images/bg_couponexp.jpg) 0 0 no-repeat;
  cursor: default;
}
.topBarBulletinContent .listDiv .newsTitle {
  float: right;
  font-size: 15px;
  margin: 20px 20px 0 0;
  color: #fff;
}
.topBarBulletinContent .listDiv .newsTitle.vipBY {
  color: #fff;
}
.topBarBulletinContent .listDiv .newsTitle.vipBJ {
  color: #51492b;
}
.topBarBulletinContent .listDiv .newsTitle-sp {
  display: inline-block;
  width: 34px;
  font-weight: bold;
}
.topBarBulletinContent .listDiv .newsTitle-sp.vipBY {
  color: #fff10f;
}
.topBarBulletinContent .listDiv .newsTitle-sp.vipBJ {
  color: #ff4901;
}
.topBarBulletinContent .listDiv .newsText {
  float: right;
  font-size: 13px;
  margin: 8px 20px 0 0;
  letter-spacing: 1.2px;
}
.topBarBulletinContent .listDiv .newsText.vipBY {
  color: #eee4e0;
}
.topBarBulletinContent .listDiv .newsText.vipBJ {
  color: #77725d;
}
.topBarBulletinContent .listDiv .newsBtn {
  float: left;
  width: 102px;
  height: 26px;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 119px;
  text-align: center;
  line-height: 25px;
}
.topBarBulletinContent .listDiv .newsBtn.vipBY {
  background-color: #f8ea06;
  color: #cd6805;
}
.topBarBulletinContent .listDiv .newsBtn.vipBY:hover {
  background-color: #fdda0a;
}
.topBarBulletinContent .listDiv .newsBtn.vipBJ {
  background-color: #ff6000;
  color: #fff;
}
.topBarBulletinContent .listDiv .newsBtn.vipBJ:hover {
  background-color: #fc7320;
}
.topBarBulletinContent .listDiv .newsCouponText {
  display: inline-block;
  font-size: 18px;
  margin: 18px 0;
  line-height: normal;
}
.topBarBulletinContent .listDiv .newsCouponText.use {
  color: #fff;
}
.topBarBulletinContent .listDiv .newsCouponText.exp {
  color: #f4fcff;
}
.topBarBulletinContent .listDiv .newsTips {
  float: right;
  height: 18px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}
.topBarBulletinContent .listDiv .newsTips.use {
  color: #fff;
  padding-right: 4px;
  min-width: 90px;
}
.topBarBulletinContent .listDiv .newsTips.exp {
  padding: 0 3.5px;
  color: #fefefe;
  background-color: #8f77e5;
}
#hdContainer .topInvestiGateBarBox {
  float: left;
}
#hdContainer .topInvestiGateBarBox .topInvestiGateBar {
  margin-right: 20px;
  margin-top: 10px;
  background: url("../images/menuitem.png") no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  cursor: pointer;
  height: 48px;
  width: 233px;
  z-index: 100;
}
#hdContainer .littleBtn {
  width: 25px;
  height: 10px;
  position: absolute;
  right: 0;
  bottom: 5px;
  text-align: center;
}
#hdManageTop
  .manageInfoBox
  .topBarBulletin
  .topBarContent_new
  #message
  .littleBtn
  .message_pagination {
  float: left;
  margin: 0 2px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  background: url(../images/1.png) no-repeat;
  background-position: 0 0;
  background-size: 7px 20px;
}
#hdContainer .promUpdateBox {
  float: left;
  padding: 0 0 6px 9px;
}
#hdContainer .promUpdateBox .promUpdateBoxInner {
  width: 288px;
}
#hdManageTop
  .manageInfoBox
  .topBarBulletin
  .topBarContent_new
  #message
  .littleBtn
  .message_pagination.showNow {
  background-position: 0 -13px;
}
#hdContainer #detectActiveBox {
  padding: 0 16px 102px;
}
#hdContainer #detectActiveTableHead {
  width: 100%;
  height: 77px;
  border-bottom: solid 1px #e7e7e7;
  margin-bottom: 8px;
}
#hdContainer #detectActiveTableBody {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#hdContainer #detectActiveTableBody table {
  table-layout: fixed;
  width: 100%;
  padding-right: 16px;
  font-size: 14px;
}
#hdContainer #detectActiveTableBody tr {
  background-color: #f5f5f5;
  margin-bottom: 8px;
  line-height: 68px;
  height: 68px;
  display: inline-block;
  width: 100%;
}
#hdContainer #detectActiveTableBody tr td {
  height: 68px;
}
#hdContainer #detectActiveTableBody tr td.column1 {
  text-align: left;
}
#hdContainer #detectActiveTableHead tr th {
  line-height: 78px;
  font-size: 14px;
  font-weight: bold;
  color: #585858;
}
#hdContainer #detectActiveBox .column1 {
  width: 322px;
}
#hdContainer #detectActiveTableBody .column1 .imgBox {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 44px;
  margin: 12px 10px 12px 8px;
  position: relative;
}
#hdContainer #detectActiveTableBody .column1 .imgBox img {
  width: 100%;
  height: 100%;
}
#hdContainer #detectActiveTableBody .column1 .imgBox .fxtop {
  width: 56px;
  height: 48px;
  position: absolute;
  top: -13px;
  left: -10px;
  background-image: url(../images/iconall.png);
  background-repeat: no-repeat;
}
#hdContainer #detectActiveTableBody .column1 .imgBox .fxtop0 {
  background-position: -683px -80px;
}
#hdContainer #detectActiveTableBody .column1 .imgBox .fxtop1 {
  background-position: -748px -80px;
}
#hdContainer #detectActiveTableBody .column1 .imgBox .fxtop2 {
  background-position: -816px -80px;
}
#hdContainer #detectActiveTableBody .column1 .imgBox .actNum {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: -2px;
  left: 0;
  text-align: center;
  z-index: 50;
  display: none;
}
#hdContainer #detectActiveTableBody .column1 .textBox {
  display: inline-block;
  vertical-align: middle;
  height: 68px;
  line-height: 68px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 210px;
}
#hdContainer #detectActiveBox .column2 {
  width: 250px;
}
#hdContainer #detectActiveBox td .column2 {
  color: #ff5502;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
#hdContainer #detectActiveBox .column3 {
  width: 142px;
}
#hdContainer #detectActiveBox .column4 {
  width: 152px;
}
#hdContainer #detectActiveBox .column5 {
  width: 114px;
}
#hdContainer #detectActiveTableBody .column5 .qrcodeIcon {
  width: 22px;
  height: 22px;
  background-image: url(../images/iconall.png);
  background-repeat: no-repeat;
  background-position: -884px -91px;
  margin: 23px auto;
}
#hdContainer #detectActiveBox .qrcodeBox {
  border: 1px solid #e7e7e7;
  padding: 9px;
  width: 142px;
  height: 142px;
  border-radius: 4px;
  position: absolute;
  z-index: 200;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none;
}
#hdContainer #detectActiveBox .qrcodeBox img {
  width: 100%;
  height: 100%;
}
#hdContainer #detectActiveBox .qrcodeBox .inIcon {
  width: 8px;
  height: 12px;
  position: absolute;
  right: -7px;
  top: 22px;
  background-image: url(../images/iconall.png);
  background-position: -943px -96px;
}
#hdContainer #detectActiveTableBody .transition {
  animation: fadeIn 0.4s ease 1;
  -moz-animation: fadeIn 0.4s ease 1;
  -webkit-animation: fadeIn 0.4s ease 1;
  -o-animation: fadeIn 0.4s ease 1;
}
#hdContainer .headerRedDot {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fe896a;
  top: -2px;
  right: -2px;
  border-radius: 50%;
  z-index: 999;
}
.oemExportCenterBtn .headerRedDot {
  top: 5px;
  right: 10px;
}
#hdContainer .moreBarTextBox {
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  width: 100px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
#hdContainer .moreBarTextBox.yyxz_Class {
  position: relative;
}
#hdContainer .moreBarName {
  margin-top: -8px;
}
#hdContainer .moreBarTextBox1 {
  border-top: 1px solid #fff;
}
#hdContainer .moreBarTextBox .moreBarTextBoxIcon {
  width: 31px;
  height: 37px;
  margin: 0 auto;
  margin-top: 26px;
}
#hdContainer .headerTips {
  width: 300px;
  padding: 0 10px;
  height: 52px;
  line-height: 52px;
  text-align: left;
  background: #fff;
  position: absolute;
  top: -34px;
  right: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  color: #7d7d7d;
}
#hdContainer .headerTips::after {
  content: " ";
  position: absolute;
  bottom: -6px;
  right: 35px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #e7e7e7;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 8px;
  height: 8px;
  background: #fff;
}
#hdContainer .headerTips .icon {
  background-position: -93px -224px;
}
#hdContainer .oemExportCenterBtn {
  position: relative;
}
#hdContainer .oemExportCenterBtn .headerTips {
  top: 45px;
}
#hdContainer .oemExportCenterBtn .headerTips::after {
  bottom: 0;
  top: -6px;
  border-width: 1px 0 0 1px;
}
#hdContainer .defaultPointer {
  cursor: default;
}
#hdContainer .moreBarTextBox_fxhd {
  background: url(../images/iconall2.png) -152px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_yyjq {
  background: url(../images/iconall2.png) -361px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_gzhd {
  background: url(../images/iconall2.png) -572px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_cjwt {
  background: url(../images/iconall2.png) -221px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_dlzx {
  background: url(../images/iconall2.png) -430px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_hdgl {
  background: url(../images/iconall2.png) -641px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_rgzx {
  background: url(../images/iconall2.png) -286px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_gnjy {
  background: url(../images/iconall2.png) -496px -1137px no-repeat;
}
#hdContainer .moreBarTextBox_wjjf {
  background: url(../images/iconall2.png) -20px -1195px no-repeat;
}
#hdContainer .moreBarTextBox_yyxz {
  background: url(../images/iconall2.png) -952px -1137px no-repeat;
}
#hdContainer .moreBarContentBox .promSkillBoxInner {
  background-color: #fff;
}
#hdContainer .moreBarContentBox .hdQuestions {
  width: 290px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px;
  margin-left: -290px;
  margin-top: -123px;
  background-color: #fff;
  text-align: left;
}
#hdContainer .moreBarContentBox .hdQuestions .questionBtn {
  height: 48px;
  line-height: 48px;
  margin: 13px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #329fea;
  border-radius: 4px;
  cursor: pointer;
}
#hdContainer .moreBarContentBox .hdQuestions .questionBtn:hover {
  background-color: #1184d3;
}
#hdContainer .moreBarContentBox .hdQuestions .questionBtn .questionIcon {
  width: 22px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/qiyulogo.png) no-repeat;
}
#hdContainer .moreBarContentBox .hdQuestions .questionBtn .questionText {
  display: inline-block;
}
#hdContainer .moreBarContentBox .hdQuestions .questionLine {
  height: 1px;
  background-color: #e7e7e7;
}
#hdContainer .moreBarContentBox .hdQuestions .questionTitle {
  color: #585858;
  font-size: 14px;
  line-height: 20px;
  margin: 16px 13px 0;
}
#hdContainer .moreBarContentBox .hdQuestions .moreQuestions {
  color: #74b7e6;
  font-size: 14px;
  float: right;
  text-decoration: underline;
  display: inline-block !important;
}
#hdContainer .moreBarContentBox .hdQuestions .moreQuestions:hover {
  color: #329fea;
}
#hdContainer .moreBarContentBox .hdQuestions .questionTitle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 16px;
  margin-right: 4px;
  background: #329fea;
}
#hdContainer .moreBarContentBox .hdQuestions .questionLink {
  margin: 12px 13px 18px;
}
#hdContainer .moreBarContentBox .hdQuestions .questionLink .list a {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: #949494;
  line-height: 14px;
  margin-bottom: 10px;
}
#hdContainer .moreBarContentBox .hdQuestions .questionLink .list a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 100px;
  background: #949494;
  margin-top: -2px;
}
#hdContainer .moreBarContentBox .hdQuestions .questionLink .list a:hover {
  color: #74b7e6;
}
#hdContainer
  .moreBarContentBox
  .hdQuestions
  .questionLink
  .list
  a:hover:before {
  background: #74b7e6;
}
#hdContainer .moreBarContentBox .hdQrCode .hdQrCodeImg {
  background: url(../images/hdqrcodeimg.jpg) 17px 17px no-repeat;
  width: 144px;
  height: 191px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px;
  margin-left: -144px;
  margin-top: -124px;
  background-color: #fff;
}
#hdContainer .moreBarContentBox .hdQrCode .hdQrCodeImg1 {
  background: url(../images/hdqrcodeimg1.gif) no-repeat;
  width: 144px;
  height: 191px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 6px;
  margin-left: -144px;
  margin-top: -124px;
  background-color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#hdContainer .moreBarContentBox .hdQrCode .hdQrCodeText {
  margin-left: -144px;
  margin-top: -50px;
  line-height: 20px;
  color: #949494;
}
#hdContainer .promUpdateBoxInner .list .updateText {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#hdContainer .left_myMessage {
  float: left;
  border: 1px solid #329fea;
  border-radius: 6px 0 0 6px;
}
#hdContainer .right_updateFunction {
  float: left;
  border: 1px solid #329fea;
  border-radius: 0 6px 6px 0;
}
#hdContainer .moreBarContent {
  position: absolute;
  width: 303px;
  top: 68px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 0;
  border-top: 0;
  text-align: left;
}
#slideRightBar .sliderBlock.contacLine {
  height: 56px;
}
#slideRightBar .sliderBlock.contacLine .item {
  float: left;
  width: 50%;
  color: #949494;
  text-align: center;
  margin-top: 18px;
  cursor: pointer;
}
#slideRightBar .sliderBlock.contacLine .kefu .icon {
  background-position: -140px -223px;
}
#slideRightBar .sliderBlock.contacLine .kefu:hover .icon {
  background-position: -184px -223px;
}
#slideRightBar .sliderBlock.contacLine .jy .icon {
  background-position: -227px -223px;
}
#slideRightBar .sliderBlock.contacLine .jy:hover .icon {
  background-position: -267px -223px;
}
#slideRightBar .sliderBlock .listBox {
  border-top: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  color: #949494;
  text-align: left;
  width: 288px;
  float: left;
  background-color: #fff;
  margin-bottom: 1px;
  padding: 18px 0 8px 14px;
}
#slideRightBar .sliderBlock .listBox .list a {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 95%;
  color: #949494;
  line-height: 14px;
  margin-bottom: 10px;
}
#slideRightBar .sliderBlock .listBox .list a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 100px;
  background: #949494;
  margin-top: -2px;
}
#slideRightBar .sliderBlock .listBox .list a:hover {
  color: #74b7e6;
}
#slideRightBar .sliderBlock .listBox .list a:hover:before {
  background: #74b7e6;
}
