.manageTop .manageInfoBox {
  position: absolute;
  text-align: center;
  height: 100%;
  top: 0;
  right: 20px;
}

.manageTop .manageInfoBox .manageInfo {
  width: 66px;
  height: 67px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.manageTop .manageInfo:hover {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-top: 4px solid #1184d3;
  height: 63px;
}
.manageTop .myInfoIcon {
  width: 63px;
  height: 47px;
  background: url(../images/header_myinfo_icon.png) center 8px no-repeat;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.manageTop {
  position: relative;
  width: 100%;
  top: 0;
  height: 67px;
  line-height: 68px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
  left: 0;
  z-index: 10;
}

.mangeTopLeftPart {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  clear: both;
}

.logoParent {
  float: left;
  height: 100%;
  overflow: hidden;
}

.logo_style4 {
  width: 138px;
  height: 36px;
  margin: 17px 10px 0 30px;
}

.manageTop .mangeTopLeftPart .product {
  float: left;
}

.manageTop .mangeTopLeftPart .product a {
  display: inline-block;
  width: 104px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 12px;
  text-align: center;
}

.manageTop .mangeTopLeftPart .product a:hover {
  border-color: #999;
}
