@charset "utf-8";

html,
body {
  height: 100%
}

.container .gameVerIcon {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 25px;
  height: 25px;
  background-size: 25px 25px
}

.container #showActiveTable .faiTableWrap .column1,
.container #showRecycleTable .faiTableWrap .column1 {
  box-sizing: border-box;
  padding-left: 98px;
  width: 255px
}

.container #showActiveTable .faiTableWrap .column3 {
  min-width: 150px
}

.container #showActiveTable .faiTableWrap .column7 {
  width: 250px
}

.container #showActiveTable .faiTableWrap .column9 {
  width: 110px
}

.container #showActiveTable .faiTableWrap .active_activeName {
  min-width: 247px
}

.faiTableWrap .center table.faiTable {
  table-layout: auto;
}

.container #showActiveTable .faiTableWrap .active_activeName .textBox:hover {
  color: #329fea;
  text-decoration: underline;
  cursor: pointer
}

.container #showActiveTable .innerNewStyle:hover {
  color: #329fea;
  text-decoration: underline;
  cursor: pointer
}

.container #showActiveTable .innerNewStyle {
  margin-top: -16px;
  cursor: pointer
}

.container .tableContent {
  background: #fff;
  border: solid 1px #e7e7e7;
  margin-bottom: 28px
}

.container .tableContent .qrcodeIcon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background-image: url(../images/iconall.png);
  background-repeat: no-repeat;
  background-position: -884px -91px;
  margin-right: 14px;
  margin-left: 10px
}

.container .tableContent .qrcodeBox {
  border: 1px solid #ccc;
  width: 160px;
  position: absolute;
  left: 28px;
  margin-top: -251px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
}

.container .tableContent .qrcodeBox img {
  width: 144px;
  height: 144px;
  display: block;
  padding: 8px
}

.container .tableContent .qrcodeBox .inIcon.down {
  left: 22px;
  position: absolute;
  bottom: -12px;
  border-top: solid 6px #329fea;
  border-bottom: solid 6px transparent;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent
}

.container .tableContent .qrcodeBox .inIcon.up {
  left: 22px;
  position: absolute;
  top: -6px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #ccc;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  width: 8px;
  height: 8px;
  background: #fff
}

.container .tableContent .qrcodeBox .weixinerweima {
  text-align: center;
  color: #fff;
  height: 44px;
  line-height: 44px;
  background: #329fea
}

.container .tableContent .transition {
  animation: fadeIn .4s ease 1;
  -moz-animation: fadeIn .4s ease 1;
  -webkit-animation: fadeIn .4s ease 1;
  -o-animation: fadeIn .4s ease 1
}

.container .tableContent .imgBox {
  width: 80px;
  height: 45px;
  background: #e6e6e6;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 3px 0
}

.container .tableContent .textBox {
  display: inline-block;
  margin-left: 8px;
  margin-top: 1px;
  vertical-align: middle;
  width: 105px;
  white-space: pre-wrap;
  text-align: left;
  max-height: 48px;
  overflow: hidden
}

.container .linkBox {
  width: 480px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 30px;
  margin-top: 9px;
  background: #fff;
  z-index: 1000;
  padding: 12px 12px 0 16px
}

.container .linkBox #tabs .tab {
  width: 50%;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #c6c6c6;
  cursor: pointer
}

.container .linkBox .headLine {
  height: 32px;
  line-height: 26px;
  border-bottom: 1px solid #e7e7e7
}

.container .linkBox .headLine .title {
  text-align: left
}

.container .linkBox .colseIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(../images/iconall.png) no-repeat -350px -906px;
  position: absolute;
  right: 10px;
  top: 12px
}

.container .linkBox .colseIcon:hover {
  background-position: -306px -906px
}

.container .linkBox #tabs .checked {
  background: #fff;
  border-bottom: 0
}

.container .linkBox .tipsBoxArrow {
  right: 76px
}

.container .linkBox .tabContent .linkPicBox .wxFont {
  background: #329fea
}

.container .linkBox .tabContent .linkPicBox .downCode {
  cursor: pointer;
  text-decoration: underline
}

.container .linkBox #spreadLink .linkInfo {
  display: inline-block;
  vertical-align: top;
  height: 175px;
  padding-left: 10px;
  margin-top: 15px;
  text-align: left
}

.container .linkBox #spreadLink .linkInfo .linkTitle {
  margin: 16px 0
}

.container .linkBox #spreadLink .downWxPicLine {
  margin-top: 20px;
  margin-left: 6px
}

.container .linkBox #spreadLink .downWxPicLine a {
  text-decoration: underline;
  color: #666
}

.showBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: none
}

.container .hideActBar {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #666;
  z-index: 100;
  cursor: pointer;
  min-height: 680px;
  overflow: hidden
}

.container .hotSaleBox {
  margin-left: 30px;
  font-weight: bold
}

.container .hotSaleBox .hotSaleImg {
  width: 15px;
  height: 20px;
  background: url(/images/hot_1.png?v=201607281150) no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: -2px;
  margin-right: 4px
}

#awardSetBox {
  width: 400px;
  border-top: dashed 1px #d1d1d1;
  margin-top: 20px;
  padding-top: 20px
}

#awardSetBox .awardList {
  width: 210px;
  float: left;
  height: 40px
}

#awardSetBox .awardList:nth-child(even) {
  width: 190px;
  float: right
}

#awardSetBox .prizeCont {
  width: 130px !important;
  height: 26px !important
}

.upgradeNow {
  padding-left: 10px
}

.upgradeNow:hover {
  text-decoration: underline
}

.setWriteoffContainer {
  padding-left: 30px
}

.setWriteoffContainer .head .writeoffTips {
  color: #949494;
  margin: 10px 0 0 115px
}

.setWriteoffContainer .partSetHead {
  margin-top: 40px
}

.setWriteoffContainer #searcher {
  padding: 0 4px;
  padding-right: 25px;
  width: 175px
}

.setWriteoffContainer #searchIcon {
  width: 16px;
  height: 16px;
  background: url(/images/search.png?v=201608301815) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 7px;
  right: 6px
}

.width30 {
  width: 30px
}

.setWriteoffContainer {
  height: 400px;
  overflow-y: auto
}

.setWriteoffContainer #showEmpTable {
  margin-top: 10px;
  width: 550px
}

.setWriteoffContainer .faiTableWrap .center table.faiTable tbody tr td {
  height: 35px
}

.setWriteoffContainer .checkIcon {
  width: 14px;
  height: 10px;
  background: url(/images/check.png?v=201608301815) no-repeat;
  background-size: 100%;
  margin: auto
}

.setWriteoffContainer .hasCheck {
  width: 60px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #329fea;
  background-color: #fff !important;
  font-size: 14px;
  color: #329fea !important;
  display: inline-block
}


.setWriteoffContainer .pointer {
  width: 60px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #329fea;
  font-size: 14px;
  color: #fff
}

.setWriteoffContainer .pointer:hover {
  background-color: #1184d3
}

.setWriteoffContainer .bottom {
  position: absolute;
  bottom: 58px;
  left: 32px;
  right: 10px;
  background-color: #fff
}

.container .activityTitle {
  font-weight: bold
}

.container .lineStyle {
  margin-top: 10px;
  border-top: #e1e1e1 1px solid
}

.container .recycleBox {
  float: right;
  width: 100px;
  height: 32px;
  margin: 15px auto
}

.container .myActContainTitle {
  position: relative;
  height: 56px;
  padding-left: 16px;
  line-height: 56px;
  font-size: 16px;
  border-bottom: solid 1px #e7e7e7
}

.container #recycleBinTitle,
.container #clearRecycleBox {
  position: absolute;
  height: 36px;
  top: 0;
  bottom: 0;
  right: 16px;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
  padding: 0 12px;
  color: #fff
}

.container #clearRecycleBox .icon {
  background-position: -864px -907px;
  width: 21px;
  height: 22px
}

.container #recycleBinTitle .icon {
  background-position: -47px -908px;
  width: 22px;
  height: 22px
}

.faiTableWrap .center table.faiTable .hongbaoLessNumPrice .lessHBMoneyTips {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  background: url(../images/iconall.png) no-repeat -333px -696px
}

.faiTableWrap .center table.faiTable .hongbaoLessNumPrice .lessHBMoneyTips:hover {
  background-position: -377px -696px
}

.faiTableWrap .textRight a {
  color: #74b7e6;
  padding: 0 8px;
  display: inline-block
}

.faiTableWrap .textRight a:hover {
  color: #329fea;
  text-decoration: underline
}

.faiTableWrap .textRight a .icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../images/iconall.png) no-repeat -318px -780px
}

.faiTableWrap .textRight a.moreMenuBtn:hover .icon,
.faiTableWrap .textRight a.moreMenuBtn.checked .icon {
  background-position: -349px -780px
}

.faiTableWrap .textRight .moreMenuBtn {
  position: relative;
  cursor: pointer
}

.faiTableWrap .textRight .moreOptionBox {
  width: 108px;
  background: #fff;
  position: absolute;
  padding: 8px 0;
  text-align: center;
  border: solid 1px #e7e7e7;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 10
}

.faiTableWrap .textRight .moreOptionBox a {
  display: block;
  height: 28px;
  line-height: 28px;
  color: #787878
}

.faiTableWrap .textRight .moreOptionBox a:hover {
  background-color: #f5f5f5
}

.faiTableWrap .textRight .moreOptionBox .tipsBoxArrow {
  top: -5px;
  left: 60%
}

.faiTableWrap .textRight .moreOptionBox .tipsBoxArrow.tipsBoxArrowUp {
  bottom: -5px
}

.faiTableWrap .center table.faiTable th .autoCleanTimer .icon,
.faiTableWrap .center table.faiTable tbody tr td .statusDisabled {
  color: #fe896a
}

.faiTableWrap .center table.faiTable th .autoCleanTimer .icon,
.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .icon {
  background-position: -53px -224px
}

.faiTableWrap .center table.faiTable th .hongbaoLessNumPrice .icon {
  background-position: -332px -695px
}

.faiTableWrap .center table.faiTable th .hongbaoLessNumPrice .icon.tipsHover {
  background-position: -376px -695px
}

.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .icon.fixIcon {
  width: 16px;
  margin-left: 5px;
  background-position: -56px -224px
}

.faiTableWrap .center table.faiTable th .autoCleanTimer .icon.tipsHover,
.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .icon.tipsHover {
  background-position: -93px -224px
}

.faiTableWrap .center table.faiTable tbody tr td .statusDisabled .pinGroupIcon.tipsHover {
  background-position: -96px -224px
}

.tipsHover {
  cursor: pointer
}

.faiTableWrap .center table.faiTable thead tr th.textRight {
  text-align: center
}

.faiTableWrap {
  border: 0
}

#incrementDetail {
  width: 124px;
  height: 36px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0
}

#incrementDetail .incrementArrow {
  position: absolute;
  z-index: 2000;
  top: 26px;
  left: 22px
}

#incrementDetail .incrementArrow img {
  position: absolute;
  z-index: 2000
}

#incrementDetail .incrementContent {
  text-align: center;
  line-height: 26px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: absolute;
  width: 124px;
  height: 26px;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden
}

.showTheLessHongbaoSize .ReturnMoney {
  text-decoration: underline;
  cursor: pointer;
  color: #74b7e6
}

.showTheLessHongbaoSize .ReturnMoney:hover {
  color: #329fea
}

#showActiveTable .breakingAndReport:hover {
  text-decoration: underline
}

.faiTableWrap .center table.faiTable thead tr th.dropDown {
  width: 120px
}

.faiTableWrap .center table.faiTable thead tr th.column8 {
  min-width: 170px
}

.faiTableWrap .center table.faiTable tbody tr td .closeIcon {
  display: inline-block;
  width: 16px;
  height: 18px;
  background: url(../images/iconall.png) -336px -698px no-repeat;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 2px
}

.faiTableWrap .center table.faiTable tbody tr td .closeIcon:hover {
  background: url(../images/iconall.png) -380px -698px no-repeat
}

.banner {
  background: url(../images/hdBigThemeBanner_4.jpg?v=201801152013) center 0 no-repeat;
  width: 100%;
  height: 200px;
  margin: 0 0 1.3rem 0;
  cursor: pointer;
  position: relative
}

.textCenter .activeLogo {
  background: url(../images/iconall.png) -311px -559px no-repeat;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: -1.35rem;
  margin-bottom: -0.1rem
}

.banner .bannerCloseBtn {
  background: url(../images/iconall.png) -598px -694px no-repeat;
  width: 2.1rem;
  height: 2.1rem;
  margin-left: 97%
}

.banner .CloseBtn {
  background: url(../images/iconall.png) -282px -480px no-repeat;
  width: 2.1rem;
  height: 2.1rem;
  margin-left: 97%
}

.banner #closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url(../images/iconall.png) -650px -694px no-repeat
}

.banner #closeIcon:hover {
  background: url(../images/iconall.png) -598px -694px no-repeat
}

.assetShow {
  text-decoration: underline;
  color: #74b7e6;
  cursor: pointer
}

.showDetailBox {
  display: none;
  position: absolute;
  border: 1px solid #e7e7e7;
  padding: 16px 20px;
  margin-bottom: 15px;
  text-align: left;
  background-color: #fff;
  width: 220px;
  height: auto;
  margin-top: 6px;
  margin-left: -154px;
  line-height: 24px;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
}

.scrollClass {
  overflow-y: scroll;
  max-height: 96px
}

.showDetailBox:before {
  content: "";
  position: absolute;
  left: 197px;
  top: -6px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  z-index: 10;
  background-color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg)
}

.showDetailBox .assetBack {
  text-decoration: underline;
  color: #74b7e6;
  cursor: pointer;
  width: 62px
}

#hdBanneContainer .close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  z-index: 10
}

#hdBanneContainer .close:hover {
}

#hdBanneContainer .btn {
  width: 110px;
  height: 40px;
  display: block;
  position: absolute;
  top: 56px;
  left: 250px
}


