@charset "utf-8";

html,
body,
#newActContainer {
  height: 100%
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.clearfix {
  *+height: 1%
}

#newActContainer>.scrollBox {
  height: 100%;
  overflow: auto;
  box-sizing: border-box
}

.subCategoryBox .subCategoryIcon {
  position: absolute;
  top: 13px;
  right: 20px;
  background: url('../images/bg02.png') no-repeat;
  width: 18px;
  height: 18px;
  border: solid 1px #ddd;
  background-position: -206px -448px;
  cursor: pointer
}

.subCategoryBox .subCategoryIcon.checked {
  background-position: -206px -425px
}

#newActContainer .actCreate {
  width: 60px;
  height: 28px;
  line-height: 28px;
  float: right;
  margin-top: 9px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  background: #f5f5f5
}

#newActContainer .actCreateHover {
  background-color: #329fea;
  transition: background .3s ease;
  border-color: #3e91cf;
  color: white;
  background-position: -945px -242px
}

#newActContainer .ActiveBox {
  margin-top: 20px;
  background-color: #fff;
  border: solid 1px #e7e7e7;
  color: #585858
}

#newActContainer .new_activeBox {
  background-color: #f5f5f5 !important
}

#newActContainer .activeContent {
  padding: 16px 0 4px 16px
}

#newActContainer .ActiveBox .new_activeContent {
  padding: 16px 0 4px 32px
}

#newActContainer .ActiveBox .recom_title {
  border-bottom: solid 1px #f1f1f1;
  font-size: 16px;
  color: #585858;
  padding: 0 16px;
  line-height: 55px
}

#newActContainer .ActiveBox .recom_title .recommIcon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background: url('../images/iconall.png') no-repeat -326px -490px
}

#newActContainer .active {
  width: 233px;
  height: 181px;
  border: 1px solid #e7e7e7;
  margin-right: 14px;
  margin-bottom: 24px;
  display: inline-block;
  _zoom: 1;
  cursor: pointer;
  transition: all .2s ease;
  position: relative;
  vertical-align: middle
}

#newActContainer .active:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25)
}

#newActContainer .active:hover .actCreateImg {
  width: 38px;
  height: 38px;
  line-height: 28px;
  float: right;
  margin-top: 6px;
  margin-right: -9px;
  background: url(../images/btn.png) -53px -8px no-repeat
}

#newActContainer .active .actPic {
  width: 225px;
  height: 125px;
  margin: 4px;
  overflow: hidden;
  position: relative;
  background: url(../images/defimage.jpg) no-repeat;
  background-size: 100%;
  margin-bottom: 0
}

#newActContainer .active .actPic>img {
  width: 100%;
  height: 100%
}

#newActContainer .active .recomPic {
  width: 43px;
  height: 43px;
  background: url(../images/iconall.png) -384px -477px no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1
}

#newActContainer .active .hotScorePic {
  width: 56px;
  height: 43px;
  background: url(../images/hot.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1
}

#newActContainer .active .actName {
  display: inline-block;
  width: 144px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

#newActContainer .active .previewGif {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%
}

#newActContainer .active .actDescripe {
  margin-left: 8px;
  color: #333;
  width: 216px;
  display: inline-block;
  height: 46px;
  line-height: 46px
}

#newActContainer .ActiveBox .checked {
  border: 1px solid #3191db
}

#newActContainer #editActBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  display: none
}

#noActiveTips {
  font-size: 12px;
  color: #666;
  position: absolute;
  left: 40px;
  top: 100px;
  height: 50px;
  line-height: 50px
}

.floatRight {
  float: right
}

.searchWrap {
  position: absolute;
  right: 0;
  top: 0
}

.hd-searchInputBox {
  position: relative;
  height: 32px;
  width: 170px;
  margin-right: 66px
}

.hd-searchInputBox .innerBox {
  width: 168px;
  height: 30px;
  border: 1px solid #c8c8c8;
  padding-left: 8px
}

.clearActive {
  background-position: 0 -60px
}

#newActContainer .borderNone {
  border: 0
}

.selectResult {
  font-size: 12px;
  padding: 16px
}

.new_selectResult {
  text-align: center;
  background-color: #f5f5f5;
  color: #949494;
  margin-top: 80px;
  font-size: 16px
}

.zUIpanelScrollBox,
.zUIpanelScrollBar {
  width: 10px;
  top: 4px;
  right: 2px;
  border-radius: 5px
}

.zUIpanelScrollBox {
  background: black;
  opacity: .1;
  filter: alpha(opacity=10)
}

.zUIpanelScrollBar {
  background: #fff;
  opacity: .8;
  filter: alpha(opacity=80)
}

.searchResultBox {
  position: relative;
  overflow: hidden
}

.selectResult_title {
  display: block;
  padding-left: 16px;
  border-bottom: solid 1px #e7e7e7;
  line-height: 20px;
  padding: 17px 0 17px 16px;
  display: none
}

#index_search_keyWord {
  display: inline-block;
  margin-left: 10px;
  padding: 0 8px;
  vertical-align: middle;
  margin-top: -2px
}

#index_search_keyWord .icon {
  width: 14px;
  height: 14px;
  background-position: -285px -492px;
  margin-left: 8px;
  cursor: pointer
}

#activityTwo.staticClass {
  position: relative;
  background-color: #fff;
  border: 0
}

#activityTwo.moving {
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  top: 0;
  border: 0
}

#activityTwoTitle {
  font-weight: bold;
  line-height: 56px;
  height: 56px
}

#activityTwo .titleName {
  margin-left: 16px
}

#activityTwo .column {
  line-height: 35px;
  text-align: left;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  font-size: 14px;
  color: #949494
}

#activityTwo .festivalcolumn,
#activityTwo .moreFestivalcolumn {
  padding: 8px 3px;
  text-align: center;
  line-height: 16px;
  float: none
}

#activityTwo .festivalcolumn {
  width: 100%;
  color: #545454
}

.gameSaleBtnColor {
  background-color: #fdfdfd;
  border-left: 1px solid #e2e2e2 !important;
  border-right: 1px solid #e2e2e2 !important
}

.gameSaleBtnColor :before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: 2px solid #fdfdfd;
  z-index: 10
}

.gameSaleBgColor :before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: 2px solid #f5f5f5;
  z-index: 10
}

#activityTwo .column span {
  cursor: pointer
}

#activityTwo .specialColumn {
  line-height: 35px;
  text-align: left;
  float: left;
  padding: 8px 16px;
  position: relative;
  font-size: 14px;
  color: #949494
}

#activityTwo .new_littleBlue {
  color: #329fea !important
}

#hdcontent {
  padding: 0 0 28px 0
}

#hdcontent .selectBox {
  background-image: url('../images/selectchange.png');
  cursor: pointer;
  width: 40px;
  height: 10px;
  background-position-x: 152px;
  z-index: 1001;
  position: absolute
}

#hdcontent #activeScrollBox {
  overflow: hidden
}

#activityTwo {
  min-width: 1200px
}

#activityTwo .moreFestival {
  border: solid 1px #ccc;
  z-index: 555;
  position: absolute;
  top: 91px;
  left: 208px;
  width: 681px;
  border-top: 0;
  background-color: white;
  z-index: 1002
}

#activityTwo .new_moreFestivalA {
  top: 35px !important
}

#activityTwo .new_moreFestivalB {
  height: 207px;
  width: 100px;
  top: 95px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15)
}

#activityTwo .activityGroup .column:hover {
  color: #74b7e6
}

#activityTwo .activityGroup {
  border: 0;
  position: relative
}

#spanForMoreFestival.haveBackGround {
  background-color: #e7e7e7;
  border: .5px solid #e7e7e7
}

#spanForMoreFestival.noBackGround {
  border: .5px solid #ccc;
  border-bottom: 0
}

#spanForMoreFestival:hover {
  background-color: #fff;
  color: #74b7e6;
  border: .5px solid #74b7e6
}

#spanForMoreFestival.noBackGround:hover {
  background-color: #fff;
  color: #74b7e6;
  border: .5px solid #ccc;
  border-bottom: 0
}

#activityTwo .moreFestival .forLine {
  border-top: .5px solid #ccc;
  width: 658px;
  display: block;
  margin-left: -17px;
  margin-top: -8px
}

#activityKeyWord {
  font-size: 16px;
  color: #585858;
  padding: 0 16px;
  line-height: 55px
}

.newCategoryItem .columnWithArrow {
  padding: 8px 9px 8px 23px !important;
  border-left: 1px solid white;
  border-right: 1px solid white
}

.newCategoryItem {
  width: 100%;
  height: 50px;
  text-align: center
}

.themeSelect {
  border: 0;
  color: #535353
}

.allThemeSelect {
  background-color: white;
  border-radius: .2rem;
  width: 4.3rem;
  padding: .8rem 0rem .8rem .6rem;
  margin-top: .5rem;
  margin-left: -0.3rem;
  line-height: 1.7rem;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15)
}

.themeSelect,
.allThemeSelect>div {
  cursor: pointer
}

.SelectImg {
  background: url(../images/iconall2.png) no-repeat -724px -623px;
  width: 14px;
  height: 9px;
  display: inline-block;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s
}

.selectUpImg {
  background: url(../images/iconall2.png) no-repeat -793px -616px !important;
  width: 20px;
  height: 16px;
  display: inline-block
}

.themeSelectImg {
  background: url(../images/iconall2.png) no-repeat -753px -616px;
  width: 1.7rem;
  height: 1rem;
  display: inline-block
}

.themeSelectBox {
  margin-left: 68.5%;
  margin-top: .94rem;
  position: absolute;
  z-index: 100;
  width: 6rem
}

.actCreateImg {
  width: 38px;
  height: 38px;
  line-height: 28px;
  float: right;
  margin-top: 6px;
  margin-right: -9px;
  background: url(../images/btn.png) -9px -8px no-repeat
}

.notFoundBox {
  cursor: default !important;
  background-color: #fff;
  width: 15.2rem !important;
  height: 11.8rem !important;
  border-radius: .3rem
}

.notFoundPic {
  width: 125px;
  height: 107px;
  margin: 0 auto;
  margin-top: 1.2rem;
  background: url(../images/pic.png) no-repeat
}

.notFoundDescripe {
  color: #949494;
  text-align: center;
  line-height: 1.4rem
}

.notFoundDescripe a {
  color: #329fea;
  cursor: pointer;
  text-decoration: underline
}

.allThemeSelect>div:hover {
  color: #329fea
}

.new_activeContent {
  width: 1600px;
  min-height: 30vh;
  margin: 0 auto
}

#gameAdviceBox {
  padding-top: 28px;
  padding-bottom: 52px;
  padding-right: 49px;
  font-size: 14px
}

#gameAdviceBox .divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

#gameAdviceBox .divider .dividerImg {
  margin: 0 24px
}

#gameAdviceBox .divider:before,
#gameAdviceBox .divider:after {
  content: " ";
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #dcdcdc;
  height: 1px;
  display: inline-block
}

#gameAdviceBox .text {
  margin-top: 6px
}

#gameAdviceBox .text .nomore {
  color: #484848
}

#gameAdviceBox .text .advice {
  color: #949494
}

#gameAdviceBox .text .advice span {
  color: #329fea;
  cursor: pointer
}

#gameAdviceBox .text .advice span:hover {
  color: #74b7e6;
  text-decoration: underline
}

@media only screen and (max-width:1600px) {
  .new_activeContent {
    width: 1330px
  }

  .themeSelectBox {
    left: 24%
  }

  #gameAdviceBox {
    padding-right: 40px
  }
}

@media only screen and (max-width:1366px) {
  .new_activeContent {
    width: 1123px
  }

  #newActContainer .ActiveBox .new_activeContent {
    padding: 16px 0 4px 40px
  }

  .themeSelectBox {
    left: 24%
  }

  #gameAdviceBox {
    padding-right: 94px
  }
}

.removeColorClass {
  color: #545454 !important
}

.newCategoryBox4 #divForMoreFestival span {
  background-color: #fff !important;
  border: none !important
}

#newActContainer .hd-content-SpecialClass {
  padding: 0 0 28px 0
}

#activityTwo .hd-content-SpecialClass .staticClass {
  min-width: 1200px
}

#activityTwo .hd-content-SpecialClass #activityTwoTitle {
  display: none
}

#activityTwo .hd_activityGroup_class {
  margin-left: 5.6rem
}

#activityTwo .hd_moreFesitval_Group {
  margin-right: 5.1rem
}

.needFloatRight {
  float: right !important
}

.prototypeGame a {
  color: #949494
}

#activeControlBox {
  position: relative
}

#newCategoryBox2 .column {
  padding: 8px 26px;
  color: #535353;
  display: inline-block;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
  z-index: 1
}

#newCategoryBox2 .column.tradeType_61 .tradeBadge {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 60px;
  width: 58px;
  height: 15px;
  background: url("../images/business_sale_badge.gif") no-repeat center center
}

#newCategoryBox2 .notPadding {
  padding: 0
}

#newCategoryBox2 .littleBlue .notPadding {
  color: #74b7e6
}

#newActContainer .active {
  background-color: #fff;
  padding: 0 6px;
  border-radius: 6px
}

#newActContainer .active .actPic {
  margin-top: 10px
}

#newActContainer .ActiveBox {
  border: 0
}

.column {
  cursor: pointer
}

#newCategoryBox3 {
  overflow-y: hidden;
  height: 0;
  border: 0;
  background-color: #fdfdfd
}

.newCategoryBox4 {
  overflow-y: hidden;
  height: 0;
  border: 0;
  background-color: #fdfdfd
}

.slideBox {
  overflow-y: hidden;
  border: 1px solid #e2e2e2;
  text-align: center
}

.transition300 {
  transition: all .3s ease;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease
}

#activityTwo .littleBlue {
  color: #74b7e6
}

.littleBlue a {
  color: #74b7e6
}

.rotateImg {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg)
}

.specialHeight {
  height: 53px !important
}

#showResultTips {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff
}

#showResultTips span {
  display: inline-block;
  vertical-align: middle;
  color: #585858
}

#showResultTips .icon {
  margin-left: 30px;
  width: 8px;
  height: 8px;
  border-top: solid 1px #585858;
  border-left: solid 1px #585858;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg)
}

#showResultTips .leftTitle {
  text-decoration: underline;
  cursor: pointer
}

#showResultTips .dispart {
  margin: 0 14px;
  height: 20px;
  border-right: 1px solid #e2e2e2
}

#showResultTips .blueColorFont {
  color: #329fea;
  font-size: 14px
}

#hdcontent .hdBannerWrap {
  position: relative;
  z-index: 1;
  user-select: none
}

#hdcontent .hdBannerWrap .swiper-container {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 1
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap,
#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide,
#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide .swiper-pic {
  width: 100%;
  height: 100%;
  display: block
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap {
  overflow: hidden;
  transition: transform .3s;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide {
  position: relative;
  float: left;
  overflow: hidden;
  height: 200px
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide .swiper-btn {
  position: absolute;
  z-index: 2;
  cursor: pointer
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide .swiper-btn img {
  display: block
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide .swiper-btn .hover {
  display: none
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide .swiper-btn:hover .static {
  display: none
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide .swiper-btn:hover .hover {
  display: block
}

#hdcontent .hdBannerWrap .swiper-container .swiper-wrap .swiper-slide .swiper-mask {
  width: 2000px;
  margin-left: -1000px;
  position: absolute;
  z-index: 1;
  left: 50%;
  height: 100%;
  overflow: hidden
}

#hdcontent .hdBannerWrap .hdBannerController {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100px;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s
}

#hdcontent .hdBannerWrap:hover .hdBannerController {
  opacity: 1
}

#hdcontent .hdBannerWrap .hdBannerController.is-left {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), transparent);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent)
}

#hdcontent .hdBannerWrap .hdBannerController.is-left:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(transparent));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), transparent);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent)
}

#hdcontent .hdBannerWrap .hdBannerController.is-right {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.2)), to(transparent));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.2), transparent);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.2), transparent);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent)
}

#hdcontent .hdBannerWrap .hdBannerController.is-right:hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.3)), to(transparent));
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.3), transparent);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent)
}

#hdcontent .hdBannerWrap .hdBannerController .btn {
  position: absolute;
  z-index: 5;
  top: 50%;
  margin-top: -19px;
  width: 22px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center center
}

#hdcontent .hdBannerWrap .hdBannerController.is-left .btn {
  left: 24px;
  background-image: url("../images/icon-angle-left.png")
}

#hdcontent .hdBannerWrap .hdBannerController.is-right .btn {
  right: 24px;
  background-image: url("../images/icon-angle-right.png")
}

.actDescripe .hd_guide_otherProduct {
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  margin-top: -2px
}
