@charset "utf-8";

.container {
  overflow-y: scroll !important
}

.verifContBox {
  width: 1002px;
  margin: 28px auto 28px;
  position: relative
}

.verifContBox .faiTable {
  width: auto
}

.verifContBox .changeToPhoneBox {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: solid 1px #e7e7e7;
  border-top: solid 1px #e7e7e7;
  text-align: center;
  background: #fff;
  z-index: 1
}

.verifContBox .changeToPhone {
  height: 51px;
  line-height: 51px;
  color: #949494;
  padding: 0 16px
}

.verifContBox .phoneTiPsImg {
  width: 337px;
  height: 216px;
  margin: 18px 0 0 13px
}

.verifContBox .changeToPhone .icon {
  width: 24px;
  height: 42px;
  background-position: -370px -978px;
  margin-right: 3px
}

.verifContBox .columnTitle:before {
  display: none
}

.verifContBox .batchCodes {
  float: right;
  margin-right: 16px;
  font-size: 14px;
  color: #329fea;
  text-decoration: underline
}

.verifPanel {
  margin: 40px 92px 66px 92px
}

.verifPanel .searchBoxCont input.input {
  padding-right: 10px;
  border-right: solid 1px #e7e7e7;
  margin-right: 44px;
  display: inline-block;
  width: 770px
}

.verifPanel .searchBoxCont .searchBtn {
  width: 46px;
  height: 100%;
  top: 0;
  right: 0;
  background: url('../images/iconall.png') no-repeat -96px -478px
}

.verifPanel .searchBoxCont .searchBtn:hover {
  background-position: -140px -478px !important
}

.verifPanel .searchTips {
  margin-top: 32px
}

.verifPanel .searchTips .imgTips {
  background: url('../images/cav_pchx.jpg') no-repeat;
  width: 388px;
  height: 320px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px
}

.verifPanel .searchTips .txtTips {
  display: inline-block;
  vertical-align: top;
  padding-top: 28px
}

.verifPanel .searchTips .txtTips .item {
  color: #949494;
  line-height: 14px;
  margin: 0 0 65px
}

.verifPanel .searchTips .txtTips .item .title {
  color: #585858;
  padding-bottom: 12px
}

.verifPanel .searchResult {
  margin-top: 32px
}

.faiTableWrap table.faiTable .userPlayer img {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle
}

.faiTableWrap .center table.faiTable tbody tr td {
  border: 0
}

.cavBtnBox {
  height: 150px;
  text-align: center
}

.cavBtnBox input,
.cavBtnBox .cavBtn,
.cavBtnBox .batchCavBtn {
  width: 222px;
  height: 44px;
  padding: 0 10px
}

.cavBtnBox input {
  margin-left: 6px
}

.cavBtnBox input:focus {
  border-color: #ccc
}

.cavBtnBox .batchCav {
  margin-top: 24px
}

.cavBtnBox .cavBtn,
.cavBtnBox .batchCavBtn {
  line-height: 44px;
  margin-left: 325px
}

.cavBtnBox .cavTips {
  color: #74b7e6;
  line-height: 14px;
  padding-top: 8px;
  margin-left: -68px
}

.cavBtnBox .cavBtn.disabled {
  cursor: default
}

.cavBtnBox .cavBtn.disabled:hover {
  border-color: #74b7e6;
  color: #74b7e6;
  transition: none;
  background: #fff
}

.cavBtnBox .cavRemark {
  width: 330px;
  margin-bottom: 20px;
  margin-top: 24px;
  float: left
}

.cavBtnBox .revokeBtn {
  width: 135px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 24px;
  font-size: 14px;
  float: right
}

.cavBtnBox .revokeCav {
  width: 132px;
  height: 44px;
  background: #fe896a;
  color: #fff;
  text-align: center;
  line-height: 44px
}

.cavBtnBox .revokeCav:hover {
  cursor: pointer;
  background: #ff4e1f
}

.cavBtnBox .revokeTip {
  font-size: 14px;
  text-align: left;
  color: #fe896a;
  margin-top: 8px
}

.faiTableWrap .center table.faiTable thead tr th.codeNum {
  width: 120px
}

.faiTableWrap .center table.faiTable thead tr th.activeNum {
  width: 88px
}

.faiTableWrap .center table.faiTable thead tr th.awardLevel {
  width: 94px
}

.faiTableWrap .center table.faiTable thead tr th.awardName {
  width: 104px
}

.faiTableWrap .center table.faiTable thead tr th.user {
  width: 162px
}

.faiTableWrap .center table.faiTable thead tr th.awardTime {
  width: 150px
}

.faiTableWrap .center table.faiTable thead tr th.codeStatus {
  width: 96px
}

#cavCodes_uploadIcon {
  height: 34px;
  margin-top: 20px
}

#poup_cav_code_list .cavCodesContent .tip a {
  color: #74b7e6;
  padding-left: 16px
}

#poup_cav_code_list .repeatTip {
  margin-top: 20px;
  color: #74b7e6
}

#poup_cav_code_list .errList {
  margin-top: 10px
}

#poup_cav_code_list .errList .errCodes {
  width: 337px;
  height: 66px;
  border: 1px solid #dadada;
  background-color: #fff;
  bottom: 25px;
  overflow-y: auto;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2)
}

#poup_cav_code_list .errList .tipIcon {
  width: 16px;
  height: 16px;
  background: url('../images/tishi.png') no-repeat;
  float: left;
  margin-top: 3px
}

#poup_cav_code_list .errList .tipInfo {
  margin-left: 6px
}

.verifPanel .faiTableWrap .bottom {
  border-top: solid 1px #e7e7e7
}
