@charset "utf-8";

.version3 a {
  color: #4281fd
}

.version3 a:hover {
  color: #2566e9
}

.version3 .poupBox {
  position: fixed;
  border-radius: 4px;
  overflow: hidden;
  font-size: 14px;
  color: #535353
}

.version3 .poupBox .poupContent {
  padding: 20px
}

.version3 .poupBox.scrollPoup .poupContent {
  padding-right: 5px
}

.version3 .poupBox .poupContent .cutLine {
  border-bottom: 1px dashed #dadada;
  margin: 10px 15px 9px 0
}

.version3 .poupBox .poupContent .cutLine:last-child {
  display: none
}

.version3 .poupBox input[type='radio']+label,
.version3 .poupBox input[type='checkbox']+label {
  margin-right: 22px
}

.version3 .poupBox .poupTitle {
  height: 50px;
  line-height: 50px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #000;
  padding-left: 20px;
  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
  font-weight: normal
}

.version3 .poupBox .poupTitle .closeBtn {
  top: 13px;
  background: url(../images/icon.png) no-repeat -290px -151px
}

.version3 .poupBox .poupTitle .closeBtn:hover {
  background-position: -316px -151px !important
}

.version3 .poupBox .setCtrl {
  margin-left: -14px;
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 1px solid #dadada;
  background-clip: content-box
}

.version3 .poupBox .setCtrl.isTransparent {
  background: url(../images/clear.png) center center no-repeat
}

.version3 .poupContent .setLine {
  line-height: 36px
}

.version3 input[type='text'] {
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 4px;
  color: #535353
}

.version3 select {
  border: 1px solid #dadada;
  border-radius: 4px;
  color: #535353
}

.version3 input[type='text']:focus,
.version3 select:focus {
  border: 1px solid #4381fd
}

.version3 textarea,
.version3 div[contenteditable='true'] {
  border: 1px solid #dadada !important;
  border-radius: 4px;
  color: #535353;
  padding: 12px !important;
  box-sizing: border-box
}

.version3 textarea:focus,
.version3 div[contenteditable='true']:focus {
  border: 1px solid #4381fd !important
}

.version3 input[type='text']:hover,
.version3 select:hover,
.version3 textarea:hover {
  border: 1px solid #4381fd !important
}

.version3 input[type='text']:disabled,
.version3 select:disabled,
.version3 textarea:disabled {
  background-color: #f6f6f6;
  border: 1px solid #dadada !important
}

.version3 .disableBg,
.version3 input[type='text'].disableBg {
  border: 1px solid #dadada !important;
  background-color: #f6f6f6 !important;
  color: #535353 !important
}

.version3 .inputErr,
.version3 input[type='text'].inputErr,
.version3 select.inputErr,
.version3 textarea.inputErr {
  border-color: #ff4d4d !important
}

.version3 .inputErr:hover,
.version3 input[type='text'].inputErr:hover,
.version3 select.inputErr:hover,
.version3 textarea.inputErr:hover {
  border-color: #e41919 !important
}

.version3 .inputErrMsg {
  color: #ff4d4d !important
}

.version3 .inputErrMsg:hover {
  color: #e41919 !important
}

.version3 .errMsg {
  color: #ff4d4d
}

.version3 .errMsg:hover {
  color: #e41919
}

.version3 .errMsg:before,
.version3 .inputErrMsg:before {
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: -1px;
  background: url(../images/icon.png) -134px -18px no-repeat;
  margin-right: 5px
}

.version3 .g_tip {
  color: #898989
}

.version3 .search-icon {
  background: url('../images/icon.png') no-repeat -358px -102px;
  cursor: pointer;
  width: 20px;
  height: 20px
}

.version3 input[type='text']:hover+.search-icon,
.version3 input[type='text']:focus+.search-icon,
.version3 .search-icon:hover {
  background-position: -389px -102px
}

.version3 .aTips {
  color: #4381fd
}

.version3 .aTips:hover,
.version3 .aTips.tipsHover,
.version3 .tipsHover .aTips {
  color: #2566e9
}

.version3 input[type='radio']+label,
.version3 input[type='checkbox']+label {
  color: #535353;
  margin-right: 30px
}

.version3 .afterRadio {
  margin-left: -18px;
  margin-right: 30px
}

.version3 input[type='radio']+label {
  padding-left: 22px
}

.version3 input[type='checkbox']+label {
  padding-left: 20px
}

.version3 input[type='radio']:disabled+label:before,
.version3 input[type='checkbox']:disabled+label:before {
  background-color: #e9e9e9
}

.version3 input[type='radio']+label:before {
  width: 16px;
  height: 16px;
  border-color: #dadada
}

.version3 input[type='radio']:checked+label:after {
  width: 10px;
  height: 10px;
  background-color: #4381fd;
  left: 4px
}

.version3 input[type='checkbox']+label:before {
  width: 14px;
  height: 14px;
  border-color: #dadada;
  border-radius: 4px
}

.version3 input[type='checkbox']:checked+label:after {
  content: '';
  width: 14px;
  height: 14px;
  left: 1px;
  background: url('../images/icon.png') no-repeat -218px -19px
}

.version3::-webkit-scrollbar-track {
  background: transparent
}

.version3::-webkit-scrollbar-thumb {
  background: #c9c9c9
}

.version3 .scrollBox::-webkit-scrollbar-thumb {
  background: #c9c9c9
}

.version3 .scrollBox:hover::-webkit-scrollbar-thumb {
  background: #aaa
}

.version3 .scrollBox::-webkit-scrollbar-thumb:hover {
  background: #aaa
}

.version3 .uploadify-button .addIcon {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 4px;
  background: url(../images/icon.png) -321px -204px no-repeat;
  vertical-align: middle
}

.version3 .uploadify-button.main-Button {
  height: 34px;
  line-height: 34px;
  width: auto;
  padding: 0 10px;
  min-width: 70px;
  display: inline-block;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: static
}

.version3 .comUploadImg {
  width: 60px;
  height: 60px
}

.version3 .comUploadBox {
  margin-left: 12px
}

.version3 .comUploadBox .btn {
  width: auto;
  height: auto;
  line-height: normal
}

.version3 .ver_biz {
  background: url('../images/icon.png') -14px -12px no-repeat !important
}

.version3 .ver_by {
  background: url('../images/icon.png') -48px -12px no-repeat !important
}

.version3 .hoverIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/icon.png') no-repeat -360px -15px;
  vertical-align: middle;
  cursor: pointer
}

.version3 .hoverIcon:hover,
.version3 .hoverIcon.tipsHover,
.version3 .tipsHover .hoverIcon {
  background-position: -391px -15px
}

.version3 .hoverIcon.quort {
  background-position: -107px -15px
}

.version3 .hoverContentBox .content {
  display: none
}

.version3 .hoverContentBox .hoverTipsBox .content {
  display: block
}

.version3 .hoverContentBox .target:first-child {
  display: none
}

.version3 .setSliderBar {
  height: 1px;
  background: #4381fd;
  vertical-align: middle;
  margin-top: 0
}

.version3 .setSliderBar.ui-slider .ui-slider-handle {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #535353 !important;
  top: -4px
}

.version3 .ui-datepicker .ui-datepicker-header {
  width: 274px;
  margin-left: -12px;
  background-color: #f8f8f8
}

.version3 .ui-datepicker .ui-datepicker-prev,
.version3 .ui-datepicker .ui-datepicker-next,
.version3 .ui-datepicker .ui-datepicker-prev-hover,
.version3 .ui-datepicker .ui-datepicker-next-hover {
  top: 5.5px;
  width: 25px;
  height: 25px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  cursor: pointer
}

.version3 .ui-datepicker .ui-datepicker-prev span,
.version3 .ui-datepicker .ui-datepicker-next span {
  opacity: 0
}

.version3 .ui-datepicker .ui-datepicker-prev {
  left: 2px;
  background: url(../images/icon.png) -291px -10px no-repeat !important
}

.version3 .ui-datepicker .ui-datepicker-next {
  right: 2px;
  background: url(../images/icon.png) -291px -38px no-repeat !important
}

.version3 .ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
  background-position: -317px -10px !important
}

.version3 .ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
  background-position: -317px -38px !important
}

.version3 .ui-datepicker th {
  background-color: #fff
}

.version3 .ui-datepicker.ui-widget-content .ui-state-default.ui-state-hover,
.version3 .ui-datepicker .ui-state-active {
  background-color: #4381fd !important
}

.version3 .ui-datepicker .ui-datepicker-buttonpane button {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer
}

.version3 .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  background: #fff !important;
  color: #4d81fd !important;
  border: 1px solid #4d81fd
}

.version3 .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current:hover {
  color: #fff !important;
  background: #4381fd !important;
  border-color: #4381fd
}

.version3 .faiTableWrap .bottom {
  padding: 0;
  color: #898989
}

.version3 .faiTableWrap .bottom .pageJump input {
  width: 44px;
  height: 32px;
  border: solid 1px #dadada;
  text-align: center;
  padding-left: 0 !important
}

.version3 .faiTableWrap .bottom .pageJump .jumpSubmit {
  height: 32px;
  line-height: 32px;
  box-sizing: border-box
}

.version3 .faiTableWrap .bottom .page {
  margin-right: 20px
}

.version3 .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current::before {
  top: 6px;
  background: url(../images/icon.png) -292px -248px no-repeat
}

.version3 .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current:hover::before {
  background-position: -317px -248px
}

.version3 .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
  background: #4381fd !important;
  color: #fff !important;
  width: 160px
}

.version3 .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close:hover {
  background: #2566e9 !important
}

.version3 .ui-timepicker-div dl dd {
  margin: 12px 10px 12px 65px
}

.version3 .ui-datepicker .ui-slider-horizontal {
  height: 1px;
  background-color: #4381fd
}

.version3 .ui-datepicker .ui-slider-horizontal .ui-slider-handle {
  top: -6px
}

.version3 .ui-datepicker .ui-slider .ui-slider-handle {
  border: solid 1px #535353
}

.version3 .ui-datepicker th {
  color: #b2b2b2;
  font-size: 12px
}

.version3 .dropDownBox .dropDownArea {
  border: solid 1px #dadada;
  border-radius: 4px;
  color: #000
}

.version3 .dropDownBox .dropDownArea.open,
.version3 .dropDownBox .dropDownArea:hover {
  border-color: #4381fd
}

.version3 .ui-datepicker-year.dropDownBox .optionsBox,
.version3 .ui-datepicker-month.dropDownBox .optionsBox {
  top: 30px;
  border-radius: 4px
}

.version3 .ui-widget-content {
  border-radius: 4px
}

.version3 .buttonBox .bottomButon {
  height: 34px;
  line-height: 34px
}

.version3 .buttonBox.bigBtn {
  height: 60px;
  line-height: 60px;
  margin: 20px 0 0
}

.version3 .buttonBox.bigBtn .bottomButon {
  width: 170px;
  height: 40px;
  line-height: 40px
}

.version3 .main-Button,
.version3 .main-Button-white,
.version3 .main-Button-blue {
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  box-sizing: border-box;
  display: inline-block
}

.version3 .main-Button {
  background: #4381fd;
  border: 1px solid #4381fd;
  color: #fff
}

.version3 .main-Button:hover {
  background: #2566e9;
  border-color: #2566e9
}

.version3 .main-Button.disabled {
  background: #acc8ff;
  border-color: #acc8ff;
  color: #fff
}

.version3 .main-Button-white {
  background: #fff;
  color: #888;
  border: 1px solid #dadada
}

.version3 .main-Button-blue {
  background: #fff;
  color: #4d81fd;
  border: 1px solid #4d81fd
}

.version3 .main-Button-blue:hover,
.version3 .main-Button-white:hover {
  color: #fff;
  background: #4381fd;
  border-color: #4381fd
}

.version3 .main-Button.disabled,
.version3 .main-Button-white.disabled,
.version3 .main-Button-blue.disabled {
  transition: none;
  cursor: not-allowed
}

.version3 .main-Button-white.disabled,
.version3 .main-Button-blue.disabled {
  background: #dcdcdc;
  border-color: #dcdcdc;
  color: #898989
}

.version3 .uploadtime {
  background-color: transparent;
  z-index: 10;
  bottom: -17px
}

.version3 .uploadtime .uploadInner {
  width: 120px;
  background-color: #898989;
  margin-left: 0;
  margin-bottom: 1px
}

.version3 .uploadtime .uploadprogres {
  height: 100%;
  background-color: #4381fd
}

.version3 .uploadtime .uploadpercent {
  color: #535353;
  font-size: 14px;
  width: auto;
  margin-left: 10px
}

.version3 .uploadtime .cancelUpload {
  margin-left: 12px
}

.version3 .hoverTipsBox {
  border-radius: 4px;
  border: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2)
}

.version3 .hoverTipsBox .tipsBoxArrow {
  position: absolute;
  bottom: -8px;
  border: 0;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  width: 16px;
  height: 10px;
  background: url(../images/icon.png) -43px -63px no-repeat;
  background-color: transparent
}

.version3 .hoverTipsBox.down .tipsBoxArrow,
.version3 .hoverTipsBox .tipsBoxArrow.up {
  top: -8px;
  border: 0;
  background: url(../images/icon.png) -15px -64px no-repeat
}

.version3 .hoverTipsBox.contentBox_Style1 {
  min-width: 110px;
  border-radius: 4px;
  background-color: #000;
  opacity: .6
}

.version3 .hoverTipsBox.contentBox_Style1 .text {
  padding: 4px 10px;
  color: #fff;
  text-align: center
}

.version3 .hoverTipsBox.contentBox_Style1 .text .content {
  padding-right: 0 !important
}

.version3 .hoverTipsBox.contentBox_Style1 .tipsBoxArrow {
  display: none
}

.version3 .wxTitle {
  width: 375px;
  background-image: url('../images/wxtitle.png')
}

.version3 .wxTitle .actName {
  left: 78.5px;
  bottom: 6px;
  width: 218px;
  height: 28px;
  line-height: 28px;
  color: #000
}

.version3 .WeChatTitle {
  background-image: url('../images/wechattitle.png')
}

.version3 .poupBottom {
  background: #fff
}

.version3 .poupBottom .poupBtn {
  width: 170px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px 0
}

.version3 .poupBottom .poupBtn:first-child {
  margin: 0
}

.version3 .colorpicker input[type='text']:hover,
.version3 .colorpicker input[type='text'] {
  height: 16px;
  border: 1px solid #fff !important;
  color: #656565;
  border-radius: 0
}

.version3 .colorpicker .colorpicker_hex input[type='text'] {
  height: 20px;
  border: 1px solid #dadada !important
}
